Comunicacion_Nifi_y_Kafka_v2 (2).json
{"flowContents":{"identifier":"85c27e14-5ac7-3bb1-8fcd-7a5b81cefa0b","instanceIdentifier":"723080f5-0195-1000-78b6-c0a47c39aafa","name":"Comunicacion Nifi y Kafka v2","comments":"Comunicacion Nifi y Kafka v2 con envio de datos de la tabla potencia_dep pero solo por mes **2019-01-01 hasta el 2019-02-01** de todos los alimentadores","position":{"x":-232.0,"y":-456.0},"processGroups":[{"identifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","instanceIdentifier":"fa984fb3-5804-320c-ab28-6147d3e78861","name":"Grupo Productor","comments":"","position":{"x":-480.0,"y":-280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ae5ca1c0-a426-310f-9467-fa430aae4acd","instanceIdentifier":"4a5662df-7224-306d-dc3c-0629c828ba53","name":"PublishKafka","comments":"","position":{"x":-248.0,"y":128.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"snappy","acks":"0","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"potencia-data","Kafka Key":null,"partition":null,"Kafka Connection Service":"905a6e65-ce16-3f43-9286-680a8d664a2e","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ae8484"},"schedulingPeriod":"50 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"4ef87071-3964-3cc9-9918-390ceb1ad361","instanceIdentifier":"b3bc71a4-14c1-3bc2-8c82-089595f9bf28","name":"LogAttribute","comments":"","position":{"x":-1232.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"6b97eacb-3955-3d1d-883d-43e993ec9723","instanceIdentifier":"47f90f81-71e3-3c6a-9a9d-6040ce4df1a2","name":"LogAttribute","comments":"","position":{"x":-688.0,"y":-544.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"ALL","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"43f8b29f-0195-1000-995e-a0393bd40439","instanceIdentifier":"7c8391a1-9e9b-35a3-966a-d3fb3f2ec531","name":"QueryDatabaseTable","comments":"","position":{"x":-1264.0,"y":-752.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"default.end.date":"CURRENT_DATE","Table Name":"potencia_dep","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":null,"Max Wait Time":"30 seconds","Database Connection Pooling Service":"7c000713-e6a9-35c3-9e6f-ef870aebace3","Maximum-value Columns":"fecha","dbf-user-logical-types":"false","qdbt-output-batch-size":"1000","qdbt-max-rows":"0","qdbt-max-frags":"10","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"1000","db-fetch-sql-query":"SELECT fecha, hora, alimentador, dia_semana, \n       potencia_activa AS potencia_activa_real, \n       potencia_reactiva AS potencia_reactiva_real\nFROM potencia_dep \nWHERE fecha BETWEEN '2019-01-01' AND '2019-02-01'\nORDER BY fecha, hora, alimentador","Columns to Return":null,"default.start.date":"CURRENT_DATE - INTERVAL '1 day'","db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null,"Max Rows Per Flow File":"0","Database Dialect Service":null},"propertyDescriptors":{"default.end.date":{"name":"default.end.date","displayName":"default.end.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default.start.date":{"name":"default.start.date","displayName":"default.start.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per Flow File":{"name":"Max Rows Per Flow File","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#aedeea"},"schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"2d5a9ea2-e2f5-3bff-b952-8515e44edd39","instanceIdentifier":"eb084cee-4f7a-3c86-1029-c80dd1aa3f00","name":"MergeContent","comments":"","position":{"x":-760.0,"y":304.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"200","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"30 sec","Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"200"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"ac300404-3006-3518-81de-3a1b305ce4f9","instanceIdentifier":"8260cb11-a96b-3199-20f9-34022d224be5","name":"ConvertRecord","comments":"","position":{"x":-1232.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"b35e85be-fa04-3295-bf00-461455b1b487","Record Reader":"db8a61c1-5ccf-3b81-ae8b-c235eff287c8"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#dcacfb"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"9c438a8e-1450-3b82-bb4e-95451552dbeb","instanceIdentifier":"62a6f320-410a-31c2-64e2-869de20743e1","name":"SplitJson","comments":"","position":{"x":-1552.0,"y":104.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"5 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"06a87b88-304e-3011-a60f-a643b522c020","instanceIdentifier":"48e8ac3c-e42b-38b4-6106-704ebff6dc1a","name":"LogAttribute","comments":"","position":{"x":-1352.0,"y":384.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":".*","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3fa27bb5-2052-36c0-9a09-08926617d924","instanceIdentifier":"9fbce996-6ec6-3185-38e0-be3fd059f9e1","name":"","source":{"id":"9c438a8e-1450-3b82-bb4e-95451552dbeb","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"SplitJson","comments":"","instanceIdentifier":"62a6f320-410a-31c2-64e2-869de20743e1"},"destination":{"id":"06a87b88-304e-3011-a60f-a643b522c020","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"48e8ac3c-e42b-38b4-6106-704ebff6dc1a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"10 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"ecf7855a-7584-338b-b06a-4b1f28f258b9","instanceIdentifier":"2ee5d1ee-6dad-3329-2001-a8f6a0585816","name":"","source":{"id":"4ef87071-3964-3cc9-9918-390ceb1ad361","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"b3bc71a4-14c1-3bc2-8c82-089595f9bf28"},"destination":{"id":"9c438a8e-1450-3b82-bb4e-95451552dbeb","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"SplitJson","comments":"","instanceIdentifier":"62a6f320-410a-31c2-64e2-869de20743e1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"2253f56b-17f8-3ddf-8d23-8c0d7bd3080a","instanceIdentifier":"d649b25e-e56f-3b82-2e90-e67e567b2db8","name":"","source":{"id":"43f8b29f-0195-1000-995e-a0393bd40439","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"7c8391a1-9e9b-35a3-966a-d3fb3f2ec531"},"destination":{"id":"6b97eacb-3955-3d1d-883d-43e993ec9723","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"47f90f81-71e3-3c6a-9a9d-6040ce4df1a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"947e232f-85a6-38cf-a077-a76e9780fde2","instanceIdentifier":"e039aaf3-4700-3c01-5c5e-3b3fa9151f6c","name":"","source":{"id":"06a87b88-304e-3011-a60f-a643b522c020","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"48e8ac3c-e42b-38b4-6106-704ebff6dc1a"},"destination":{"id":"2d5a9ea2-e2f5-3bff-b952-8515e44edd39","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"MergeContent","comments":"","instanceIdentifier":"eb084cee-4f7a-3c86-1029-c80dd1aa3f00"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"10 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"592d0a63-7bf1-3055-8700-224ddf810368","instanceIdentifier":"f9201033-c230-3460-d63c-b87623b45335","name":"","source":{"id":"2d5a9ea2-e2f5-3bff-b952-8515e44edd39","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"MergeContent","comments":"","instanceIdentifier":"eb084cee-4f7a-3c86-1029-c80dd1aa3f00"},"destination":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"PublishKafka","comments":"","instanceIdentifier":"4a5662df-7224-306d-dc3c-0629c828ba53"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"fd204dc6-a54e-3b87-a325-fcb5f4765af1","instanceIdentifier":"ca36c74f-c1a4-32d0-da24-604403832dfd","name":"","source":{"id":"9c438a8e-1450-3b82-bb4e-95451552dbeb","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"SplitJson","comments":"","instanceIdentifier":"62a6f320-410a-31c2-64e2-869de20743e1"},"destination":{"id":"4e660d18-79a6-32ab-8541-fe6b6de63b51","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"575e0ac2-fc19-3dd0-7f2e-275f94e85e37"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"b6aceb09-ce50-3aa8-b06d-0390447ce20b","instanceIdentifier":"0c931db5-de2a-32ba-04cf-24caf47afe35","name":"","source":{"id":"ac300404-3006-3518-81de-3a1b305ce4f9","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"ConvertRecord","comments":"","instanceIdentifier":"8260cb11-a96b-3199-20f9-34022d224be5"},"destination":{"id":"4ef87071-3964-3cc9-9918-390ceb1ad361","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"b3bc71a4-14c1-3bc2-8c82-089595f9bf28"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"1592ac15-812c-3dab-b060-29aa5842f879","instanceIdentifier":"e67c2264-9a05-34e6-131d-094c00ccbb30","name":"","source":{"id":"2d5a9ea2-e2f5-3bff-b952-8515e44edd39","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"MergeContent","comments":"","instanceIdentifier":"eb084cee-4f7a-3c86-1029-c80dd1aa3f00"},"destination":{"id":"05cce9b4-1030-3dc9-bbda-ebf5313f2473","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"352eac6c-250e-3cca-1155-29a8561608ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-88.0,"y":400.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"f490476c-1ad4-3025-ba98-32260675a395","instanceIdentifier":"9529e055-3cbe-3f94-1d5c-5a6ec69ba8b0","name":"","source":{"id":"ac300404-3006-3518-81de-3a1b305ce4f9","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"ConvertRecord","comments":"","instanceIdentifier":"8260cb11-a96b-3199-20f9-34022d224be5"},"destination":{"id":"3644eda3-dbb6-3b49-ae10-fdc25a10e400","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"a9e47a38-30ea-3b2d-f368-2ae3d5a9e294"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"7d062079-92a9-3d69-aec4-a78b5dd958bf","instanceIdentifier":"108721a2-242f-39c8-1aad-59cdbf7946f8","name":"","source":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"PublishKafka","comments":"","instanceIdentifier":"4a5662df-7224-306d-dc3c-0629c828ba53"},"destination":{"id":"4e660d18-79a6-32ab-8541-fe6b6de63b51","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"575e0ac2-fc19-3dd0-7f2e-275f94e85e37"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"b8c1efe1-1e4a-399c-a666-74e4b4f27979","instanceIdentifier":"dfb3dccd-f9df-33bd-63ea-7146c122af28","name":"","source":{"id":"6b97eacb-3955-3d1d-883d-43e993ec9723","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"47f90f81-71e3-3c6a-9a9d-6040ce4df1a2"},"destination":{"id":"ac300404-3006-3518-81de-3a1b305ce4f9","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"ConvertRecord","comments":"","instanceIdentifier":"8260cb11-a96b-3199-20f9-34022d224be5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"e5a50ef2-a17c-3b90-9f3c-86599c46fb6f","instanceIdentifier":"9427c500-ae03-3d65-65bd-b120a56998f8","name":"","source":{"id":"9c438a8e-1450-3b82-bb4e-95451552dbeb","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"SplitJson","comments":"","instanceIdentifier":"62a6f320-410a-31c2-64e2-869de20743e1"},"destination":{"id":"3644eda3-dbb6-3b49-ae10-fdc25a10e400","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"a9e47a38-30ea-3b2d-f368-2ae3d5a9e294"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"0479120f-6a8d-32cf-ab92-c4cd00fd739f","instanceIdentifier":"4ba3bbe3-11cd-3d29-12ae-30e19d6c2484","name":"","source":{"id":"2d5a9ea2-e2f5-3bff-b952-8515e44edd39","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"MergeContent","comments":"","instanceIdentifier":"eb084cee-4f7a-3c86-1029-c80dd1aa3f00"},"destination":{"id":"05cce9b4-1030-3dc9-bbda-ebf5313f2473","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"352eac6c-250e-3cca-1155-29a8561608ab"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"92e52e50-ea70-3674-ab76-85bf74f5fa5c","instanceIdentifier":"8de70f55-4742-32ff-c061-788768fe093e","name":"","source":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"PublishKafka","comments":"","instanceIdentifier":"4a5662df-7224-306d-dc3c-0629c828ba53"},"destination":{"id":"65c21533-3c44-3fed-b772-a9f88a3db287","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"b3aecedd-bfc5-3edb-68b8-7b1a8c54e942"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":300000,"backPressureDataSizeThreshold":"30 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"labels":[{"identifier":"47c13262-0195-1000-88d4-16df08f88192","instanceIdentifier":"a099d15b-a8a7-34b2-603c-e75867b17d89","position":{"x":-2248.0,"y":-472.0},"label":"Se utiliza este procesador convertir registros de un formato a otro con\nRecordReader:AvroReader, que lee datos en formato Avro.\nRecord Writer: JsonRecordSetWriter, que escribe datos en formato JSON.\nInclude Zero Record FlowFiles: true, lo que asegura que los archivos de flujo con cero registros se incluyan en la salida.\nEn si convierte datos de Avro a JSON,","zIndex":0,"width":424.0,"height":160.0,"style":{"background-color":"#d9a2dd","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"47c4c116-0195-1000-4fa7-9cf421e3656a","instanceIdentifier":"8bd7a521-60d8-36ea-a012-69e13cf47876","position":{"x":-2280.0,"y":-96.0},"label":"Envía datos comprimidos a un tema específico de Kafka, con una entrega de datos de mejor esfuerzo del cual tiene:\nControlador:Kafka3ConnectionService, que se usa para conectarse a Kafka.\nTopic Name: sube-alim-data, el nombre del tema al que se envían los datos.\nFailure Strategy: Route to Failure, redirige los fallos a una ruta específica.\nDelivery Guarantee: Best Effort, garantiza la entrega de datos al máximo posible sin usar transacciones.\nCompression Type: snappy, comprime los datos para envío.\n","zIndex":0,"width":440.0,"height":208.0,"style":{"background-color":"#8d5353","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"974d00d9-124b-32c9-a6e7-6bf773335dca","instanceIdentifier":"679166e1-bc84-31aa-60d3-3d68f8bd853b","position":{"x":-2176.0,"y":-736.0},"label":"Se usa para consultar en la BD de la tabla sube_alim.\nSe realiza una consulta personalizada SELECT * FROM sube_alim para obtener los datos, de lo cual nos permite extraer información completa de una tabla específica","zIndex":0,"width":312.0,"height":120.0,"style":{"background-color":"#9dd8dd","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"funnels":[{"identifier":"65c21533-3c44-3fed-b772-a9f88a3db287","instanceIdentifier":"b3aecedd-bfc5-3edb-68b8-7b1a8c54e942","position":{"x":408.0,"y":208.0},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"05cce9b4-1030-3dc9-bbda-ebf5313f2473","instanceIdentifier":"352eac6c-250e-3cca-1155-29a8561608ab","position":{"x":118.5,"y":549.0},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"3644eda3-dbb6-3b49-ae10-fdc25a10e400","instanceIdentifier":"a9e47a38-30ea-3b2d-f368-2ae3d5a9e294","position":{"x":-1592.0,"y":-168.0},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"4e660d18-79a6-32ab-8541-fe6b6de63b51","instanceIdentifier":"575e0ac2-fc19-3dd0-7f2e-275f94e85e37","position":{"x":-707.9102564102564,"y":-128.06779661016947},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"controllerServices":[{"identifier":"905a6e65-ce16-3f43-9286-680a8d664a2e","instanceIdentifier":"21e0838e-567a-34f4-42d3-24b25449e8f0","name":"Kafka3ConnectionService","comments":"Este controlador Permite la conexción con kafka para el envio y la recepcion de datos con su conexión : \nkafka_centrosur:9092\nComo de igual forma su protocolo de seguridad que es un texto plano:\nSecurity Protocol\nPLAINTEXT","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"85c27e14-5ac7-3bb1-8fcd-7a5b81cefa0b"},{"identifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","instanceIdentifier":"25cbcbcf-61fd-3a14-1b15-2fe8ca8a8337","name":"Grupo Consumidor","comments":"","position":{"x":48.0,"y":-280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a6851a46-3a33-3177-b7f2-85b822f964dc","instanceIdentifier":"4bcd5df0-e07d-3c7c-fa7f-e9db0e661563","name":"ReplaceText","comments":"","position":{"x":-248.0,"y":368.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"fecha\": \"${fecha}\",\n  \"hora\": \"${hora}\",\n  \"alimentador\": \"${alimentador}\",\n  \"dia_semana\": \"${dia_semana}\",\n  \"potencia_activa_real\": ${potencia_activa_real},\n  \"potencia_reactiva_real\": ${potencia_reactiva_real}\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"72f9b90e-0919-3aca-bedf-2cc5f062f565","instanceIdentifier":"98bc8cd3-3457-39fe-6fda-23d0a01fe551","name":"LogAttribute","comments":"","position":{"x":496.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"63e7df88-5422-3bed-9c54-57f63df5a616","instanceIdentifier":"b8a0e7ea-da1b-38e8-50d1-78d83571e23a","name":"LogAttribute","comments":"","position":{"x":296.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"3a91dca5-9c8d-3264-93a4-589f623cc61b","instanceIdentifier":"07e35b02-a8f2-3a28-02fe-2dfa7bcdb92b","name":"ConsumeKafka","comments":"","position":{"x":32.0,"y":-304.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"Topics":"potencia-data","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"10 sec","Kafka Connection Service":"db2a0bb0-fd4a-3501-ba0c-1fb1549e26e3","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"potencia-data-new-1","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#cdcbb7"},"schedulingPeriod":"500 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","instanceIdentifier":"2d9f566b-692a-318e-7952-1ef801afabd9","name":"EvaluateJsonPath","comments":"","position":{"x":-112.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","potencia_reactiva_real":"$.potencia_reactiva_real","fecha":"$.fecha","Max String Length":"20 MB","potencia_activa_real":"$.potencia_activa_real","hora":"$.hora","Return Type":"auto-detect","Null Value Representation":"empty string","alimentador":"$.alimentador","Path Not Found Behavior":"warn","dia_semana":"$.dia_semana"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"potencia_reactiva_real":{"name":"potencia_reactiva_real","displayName":"potencia_reactiva_real","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fecha":{"name":"fecha","displayName":"fecha","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"potencia_activa_real":{"name":"potencia_activa_real","displayName":"potencia_activa_real","identifiesControllerService":false,"sensitive":false,"dynamic":true},"hora":{"name":"hora","displayName":"hora","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alimentador":{"name":"alimentador","displayName":"alimentador","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dia_semana":{"name":"dia_semana","displayName":"dia_semana","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#fef0ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","instanceIdentifier":"1a8b3e1e-c285-3282-69d8-8d753846a829","name":"PutDatabaseRecord","comments":"","position":{"x":-32.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"100","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"7b4beb08-8006-3f14-89a1-8d79170a70e8","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"potencia_dep_processed","put-db-record-record-reader":"b2200125-c1e1-32ce-b152-14ba9efb25d0"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#c3ffc2"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"53dd42e3-dc71-3b1a-b8d5-824e2f450cfb","instanceIdentifier":"3b273df5-26b1-31b6-bb30-fdfe37e04f9d","name":"LogAttribute","comments":"","position":{"x":-440.0,"y":744.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"466bc30c-774b-3239-aecf-9eacf42442ed","instanceIdentifier":"e42e6a7a-1b47-325d-cccc-7e0e0702832b","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"2d9f566b-692a-318e-7952-1ef801afabd9"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"cd558d4a-c937-32f7-a7c8-9267846c6807"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":800.0,"y":512.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"da4a14fc-fac1-385d-8950-08e2b9cde654","instanceIdentifier":"75ca21e3-cbb4-368f-35f9-eb5a67fe466f","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1a8b3e1e-c285-3282-69d8-8d753846a829"},"destination":{"id":"63e7df88-5422-3bed-9c54-57f63df5a616","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"b8a0e7ea-da1b-38e8-50d1-78d83571e23a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"f2ac69ab-6377-3a87-adbb-eef32d4a5b3e","instanceIdentifier":"c196d402-6b28-3810-8152-d3e981b73cea","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1a8b3e1e-c285-3282-69d8-8d753846a829"},"destination":{"id":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"fdd57e3f-4701-3a13-0f9f-a3d2e0eae849"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"3f03287e-80ef-3317-b7e8-4acdc7a925a1","instanceIdentifier":"f8e5a9c2-3ce4-3f31-dca4-00113a69022d","name":"","source":{"id":"3a91dca5-9c8d-3264-93a4-589f623cc61b","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"ConsumeKafka","comments":"","instanceIdentifier":"07e35b02-a8f2-3a28-02fe-2dfa7bcdb92b"},"destination":{"id":"72f9b90e-0919-3aca-bedf-2cc5f062f565","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"98bc8cd3-3457-39fe-6fda-23d0a01fe551"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":25000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"eb9085f5-d71c-3991-ba17-2edcc255b041","instanceIdentifier":"e015928b-f26b-3a56-a286-1076ffeb3cee","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"2d9f566b-692a-318e-7952-1ef801afabd9"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"cd558d4a-c937-32f7-a7c8-9267846c6807"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"16d84a23-d496-3e91-8713-632234a18485","instanceIdentifier":"27fc57e2-3c47-31fb-0980-7d010082b8fe","name":"","source":{"id":"63e7df88-5422-3bed-9c54-57f63df5a616","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"b8a0e7ea-da1b-38e8-50d1-78d83571e23a"},"destination":{"id":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"fdd57e3f-4701-3a13-0f9f-a3d2e0eae849"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"ced2d9b7-707c-31b0-8731-4fe9d676baff","instanceIdentifier":"64665498-e868-3ac9-4eca-95845290cad7","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"2d9f566b-692a-318e-7952-1ef801afabd9"},"destination":{"id":"a6851a46-3a33-3177-b7f2-85b822f964dc","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"ReplaceText","comments":"","instanceIdentifier":"4bcd5df0-e07d-3c7c-fa7f-e9db0e661563"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"1b09a934-36b9-3e16-8e8e-1fe299311b45","instanceIdentifier":"5e4c1d30-0177-343b-9f77-b8fb0290d43e","name":"","source":{"id":"a6851a46-3a33-3177-b7f2-85b822f964dc","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"ReplaceText","comments":"","instanceIdentifier":"4bcd5df0-e07d-3c7c-fa7f-e9db0e661563"},"destination":{"id":"53dd42e3-dc71-3b1a-b8d5-824e2f450cfb","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"3b273df5-26b1-31b6-bb30-fdfe37e04f9d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"372685b2-dd82-36d7-bfef-a2aa4254db54","instanceIdentifier":"ddf7c3f7-bac3-3d88-cde4-b1303b5dd63b","name":"","source":{"id":"53dd42e3-dc71-3b1a-b8d5-824e2f450cfb","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"3b273df5-26b1-31b6-bb30-fdfe37e04f9d"},"destination":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1a8b3e1e-c285-3282-69d8-8d753846a829"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"8c275671-7848-3f18-b7e7-4c7d31cf2e94","instanceIdentifier":"01de489c-701f-3708-e4e3-d8bee65c5196","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1a8b3e1e-c285-3282-69d8-8d753846a829"},"destination":{"id":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"fdd57e3f-4701-3a13-0f9f-a3d2e0eae849"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":464.0,"y":1144.0},{"x":437.0,"y":1089.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"8333f399-2e8b-34c4-aa06-01872d63037a","instanceIdentifier":"a0bfe549-62a8-38b8-283e-94464201e7e0","name":"","source":{"id":"a6851a46-3a33-3177-b7f2-85b822f964dc","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"ReplaceText","comments":"","instanceIdentifier":"4bcd5df0-e07d-3c7c-fa7f-e9db0e661563"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"cd558d4a-c937-32f7-a7c8-9267846c6807"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"4e146a5f-ae73-3131-a585-aaaf98b070e4","instanceIdentifier":"a2569912-71ed-3603-37a3-b6006ab6ecb0","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1a8b3e1e-c285-3282-69d8-8d753846a829"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"cd558d4a-c937-32f7-a7c8-9267846c6807"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"32804a4c-e5ce-307d-8ba7-737f5d83bb86","instanceIdentifier":"51fc1c42-0abf-3d1f-5f18-9de39d44341b","name":"","source":{"id":"72f9b90e-0919-3aca-bedf-2cc5f062f565","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"98bc8cd3-3457-39fe-6fda-23d0a01fe551"},"destination":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"2d9f566b-692a-318e-7952-1ef801afabd9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"labels":[{"identifier":"47d055e3-0195-1000-4e59-198128a7fda5","instanceIdentifier":"708308e9-7a3a-3d42-6dca-ae1bb89d0eb9","position":{"x":1504.0,"y":-88.0},"label":"Toma un flujo de datos JSON y lo divide en fragmentos más pequeños, utilizando todas las claves del JSON y representando los valores nulos como cadenas vacías.\nJsonPath Expression: $. *, selecciona todas las claves del JSON.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.","zIndex":0,"width":328.0,"height":160.0,"style":{"background-color":"#b0d2e3","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"ca57e8d0-2617-37a4-b234-5d1d02b5a89f","instanceIdentifier":"96f2ccdf-8b63-388d-3c76-cda0b54ac1f0","position":{"x":-1248.0,"y":864.0},"label":"Inserta datos JSON en una tabla específica de una base de datos PostgreSQL\nRecord Reader: JsonTreeReader, lee datos en formato JSON.\nDatabase Type: PostgreSQL, tipo de base de datos.\nStatement Type: INSERT, tipo de declaración para insertar datos.\nDatabase Connection Pooling Service: DBCPConnectionPool Base Datos Prueba, servicio de pool de conexiones antes configurado.\nSchema Name: public, el esquema de la base de datos.\nTable Name: sube_alim_processed, el nombre de la tabla donde se insertan los datos.","zIndex":0,"width":408.0,"height":168.0,"style":{"background-color":"#adffbe","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"ff325267-bc41-3203-bd1a-f8da2edf3854","instanceIdentifier":"5f6d3ec4-0cfd-39bc-e939-ac58cb94686e","position":{"x":-1232.0,"y":-296.0},"label":"Consume datos de un tema de Kafka, gestionando datos.\nControlador : Kafka3ConnectionService, para conectarse a Kafka.\nGroup ID: sube-alim-consumer-group, identifica el grupo de consumidores.\nTopic Format: names, formato para identificar los temas.\nTopics: sube-alim-data, el tema del que se consumen los datos.\nAuto Offset Reset: earliest, empieza desde el offset más antiguo si no hay un offset inicial.\nCommit Offsets: true, confirma automáticamente los desplazamientos.","zIndex":0,"width":392.0,"height":168.0,"style":{"background-color":"#b8b094","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"5f6ffb8e-40ce-3f9d-be7f-f6e9b4440793","instanceIdentifier":"0c49f782-cbaa-3abd-461b-cb90c1353b52","position":{"x":-1224.0,"y":256.0},"label":"Extrae valores específicos de un flujo de datos JSON y los almacena como atributos\nDestination: flowfile-attribute, los valores extraídos se almacenan como atributos de archivo de flujo.\nReturn Type: auto-detect, detecta automáticamente el tipo de los valores extraídos.\nPath Not Found Behavior: ignore, ignora las rutas que no se encuentran.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.\nMax String Length: 20 MB, longitud máxima de las cadenas.\nalimentador: $.alimentador, expresión JsonPath para extraer el valor de \"alimentador\".\nid_subestacion: $.id_subestacion, expresión JsonPath para extraer el valor de \"id_subestacion\".","zIndex":0,"width":368.0,"height":240.0,"style":{"background-color":"#e6d8e8","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"funnels":[{"identifier":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","instanceIdentifier":"fdd57e3f-4701-3a13-0f9f-a3d2e0eae849","position":{"x":784.0,"y":888.0},"componentType":"FUNNEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"1253bdb1-7210-3300-afb6-6225dcb2442f","instanceIdentifier":"cd558d4a-c937-32f7-a7c8-9267846c6807","position":{"x":864.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"controllerServices":[{"identifier":"b2200125-c1e1-32ce-b152-14ba9efb25d0","instanceIdentifier":"37db77a0-bdf4-3025-41b9-ce65886faf96","name":"JsonTreeReader V2","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\", \n  \"name\": \"Potencia_dep\",\n  \"fields\": [\n    {\"name\": \"fecha\", \"type\": \"string\"},\n    {\"name\": \"hora\", \"type\": \"string\"},\n    {\"name\": \"alimentador\", \"type\": \"string\"},\n    {\"name\": \"dia_semana\", \"type\": \"string\"},\n    {\"name\": \"potencia_activa_real\", \"type\": [\"null\", \"double\"], \"default\": null},\n    {\"name\": \"potencia_reactiva_real\", \"type\": [\"null\", \"double\"], \"default\": null}\n  ],\n  \"namespace\": \"org.apache.nifi.record.path\"\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"db2a0bb0-fd4a-3501-ba0c-1fb1549e26e3","instanceIdentifier":"71b9740b-a404-3f35-03fe-adcb52788f10","name":"Kafka3ConnectionService V2","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"7b4beb08-8006-3f14-89a1-8d79170a70e8","instanceIdentifier":"96ac1c9c-9eb4-38fc-4d51-c2e42f7f269a","name":"DBCPConnectionPool Base Datos Prueba","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"85c27e14-5ac7-3bb1-8fcd-7a5b81cefa0b"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"47ba41b8-0195-1000-e166-9f49d85fbaf6","instanceIdentifier":"ba9e0d5d-789a-39f2-c188-c7aac50bb7f1","position":{"x":48.0,"y":-456.0},"label":"Grupo que consume los datos publicados en Kafka mediante el tema : sube-alim-data, y el grupo creado llamado sube-alim-consumer-group , del cual maneja los valores en json para volverlos a insertar especificando las tablas y insertarlos en una nueva BD Prueba con la tabla sube_alim_processed ","zIndex":0,"width":384.0,"height":160.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"85c27e14-5ac7-3bb1-8fcd-7a5b81cefa0b"},{"identifier":"2beae133-c305-3e8b-810d-62f40f68496f","instanceIdentifier":"fb961daf-3a3c-33f4-80e7-57c645bfed19","position":{"x":-480.0,"y":-400.0},"label":"Grupo que Produce o obtiene de la BD la tabla sube_alim con 87 registros ,estos registros se transforman  de avro(que vienen de la BD) a json para un mejor manejo y estos datos se los publica a Kafka en el tema :sube-alim-data \n","zIndex":0,"width":384.0,"height":112.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"85c27e14-5ac7-3bb1-8fcd-7a5b81cefa0b"}],"funnels":[],"controllerServices":[{"identifier":"db8a61c1-5ccf-3b81-ae8b-c235eff287c8","instanceIdentifier":"da5407d6-d1f4-379c-1406-788f0d8a3115","name":"AvroReader","comments":"Lee y deserializa datos en formato Avro desde archivos de flujo","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"100000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85c27e14-5ac7-3bb1-8fcd-7a5b81cefa0b"},{"identifier":"7c000713-e6a9-35c3-9e6f-ef870aebace3","instanceIdentifier":"e00ca228-cab3-370f-3fca-2366b5b33ce5","name":"DBCPConnectionPool","comments":"Función: Permite Conectarse a la BD (Docker)\nURL:jdbc:postgresql://postgres_centrosur:5432/centrosur\nNombre del Driver :org.postgresql.Driver\nUsuario de la BD: postgres\nContraseña de la BD: 1150040812","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/centrosur","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85c27e14-5ac7-3bb1-8fcd-7a5b81cefa0b"},{"identifier":"b35e85be-fa04-3295-bf00-461455b1b487","instanceIdentifier":"54c32167-fec4-3581-559f-54d4af928e42","name":"JsonRecordSetWriter","comments":"Se utiliza para escribir datos en formato JSON desde archivos de flujo","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85c27e14-5ac7-3bb1-8fcd-7a5b81cefa0b"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}