Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-tension_dep_anual.json
{"flowContents":{"identifier":"259ad2c9-de20-3380-a49e-154aac2495a4","instanceIdentifier":"e9f859d6-0195-1000-3970-94aa093dd885","name":"Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-tension_dep anual","comments":"","position":{"x":48.0,"y":152.0},"processGroups":[{"identifier":"19683749-d095-382d-8a05-74b3b36f934c","instanceIdentifier":"e9f8b337-0195-1000-aab4-4406491dbcf5","name":"Grupo Consumidor","comments":"","position":{"x":256.0,"y":-176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"df509132-5d68-3656-9ee1-a24babbb3d96","instanceIdentifier":"ea03791a-0195-1000-6453-8e70e2baf71d","name":"EvaluateJsonPath","comments":"","position":{"x":144.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","id_subestacion":"$.id_subestacion","fecha":"$.fecha","tension_servicio":"$.tension_servicio","Max String Length":"20 MB","hora":"$.hora","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"warn","dia_semana":"$.dia_semana"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id_subestacion":{"name":"id_subestacion","displayName":"id_subestacion","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fecha":{"name":"fecha","displayName":"fecha","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tension_servicio":{"name":"tension_servicio","displayName":"tension_servicio","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hora":{"name":"hora","displayName":"hora","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dia_semana":{"name":"dia_semana","displayName":"dia_semana","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"19d06675-1287-3d91-b80c-44ce898478e4","instanceIdentifier":"ea03d72b-0195-1000-59e1-05be97cd9ef5","name":"PutDatabaseRecord","comments":"","position":{"x":168.0,"y":208.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":"fecha,hora,id_subestacion","put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"100","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"29574bd8-9ebb-3750-9d44-5d862d9484aa","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"tension_dep_processed","put-db-record-record-reader":"c2632bde-dca9-3cbc-afa3-4fdf14165363"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"271e14e9-e3d8-35f5-acac-bffd720086c5","instanceIdentifier":"ea03f66b-0195-1000-634b-076c5c4bd1a2","name":"LogAttribute","comments":"","position":{"x":128.0,"y":496.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"b67a190c-a2c6-3fa3-9eb7-a7693a1f1631","instanceIdentifier":"ea038fff-0195-1000-bb41-90056ffaad3d","name":"ReplaceText","comments":"","position":{"x":-480.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{ \n  \"fecha\": \"${fecha:replaceNull(\"\")}\", \n  \"hora\": \"${hora:replaceNull(\"\")}\", \n  \"id_subestacion\": ${id_subestacion:replaceNull(\"1\")}, \n  \"dia_semana\": ${dia_semana:replaceNull(\"0\")}, \n  \"tension_servicio\": ${tension_servicio:replaceNull(\"0.0\")} \n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"d88faf10-028a-324a-b22e-629f49f75684","instanceIdentifier":"ea035a50-0195-1000-d145-ffeadb1d3d38","name":"LogAttribute","comments":"","position":{"x":136.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"7ad01070-b4d0-3ae0-98cf-28c7a5aa8162","instanceIdentifier":"ea033b4c-0195-1000-6a80-16a36b4734e1","name":"ConsumeKafka","comments":"","position":{"x":-488.0,"y":-296.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"Topics":"tension_data","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"10 sec","Kafka Connection Service":"2461f96a-df56-30a2-a74d-c76a7f292c17","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"tension-data-new-1","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"500 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"487bb7e8-35e8-333c-af92-24576a0572f9","instanceIdentifier":"ea03b65b-0195-1000-c17e-cd0f56c0551c","name":"LogAttribute","comments":"","position":{"x":-480.0,"y":200.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a75e7254-8b20-3ac8-bb9f-ad1e04eb9658","instanceIdentifier":"ea04405d-0195-1000-454f-066908c222ee","name":"","source":{"id":"7ad01070-b4d0-3ae0-98cf-28c7a5aa8162","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"ConsumeKafka","comments":"","instanceIdentifier":"ea033b4c-0195-1000-6a80-16a36b4734e1"},"destination":{"id":"d88faf10-028a-324a-b22e-629f49f75684","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"LogAttribute","comments":"","instanceIdentifier":"ea035a50-0195-1000-d145-ffeadb1d3d38"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"ffd99671-32bb-36f9-9361-ae78195d96e2","instanceIdentifier":"ea05072b-0195-1000-c50c-6510a1cac793","name":"","source":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"ea03d72b-0195-1000-59e1-05be97cd9ef5"},"destination":{"id":"4b5d0068-ce9b-398e-a189-3f7591a0896a","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"ea04ce10-0195-1000-f5e8-e3ffea5e72f2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"cc913c8b-6b29-3de1-8b1b-b71953b31eee","instanceIdentifier":"ea05177f-0195-1000-ea4e-cd0282317d0d","name":"","source":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"ea03d72b-0195-1000-59e1-05be97cd9ef5"},"destination":{"id":"4b5d0068-ce9b-398e-a189-3f7591a0896a","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"ea04ce10-0195-1000-f5e8-e3ffea5e72f2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-128.0,"y":376.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"c0969b52-0156-3c1f-add6-400b088e792d","instanceIdentifier":"ea04eda4-0195-1000-18c5-8238d41518e4","name":"","source":{"id":"271e14e9-e3d8-35f5-acac-bffd720086c5","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"LogAttribute","comments":"","instanceIdentifier":"ea03f66b-0195-1000-634b-076c5c4bd1a2"},"destination":{"id":"4b5d0068-ce9b-398e-a189-3f7591a0896a","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"ea04ce10-0195-1000-f5e8-e3ffea5e72f2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"9215f40b-6c76-3c60-9ee2-f5e510710601","instanceIdentifier":"ea09b28f-0195-1000-0f52-481568674860","name":"","source":{"id":"df509132-5d68-3656-9ee1-a24babbb3d96","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ea03791a-0195-1000-6453-8e70e2baf71d"},"destination":{"id":"9f9a4ca6-2fda-366d-a607-434ee549d141","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"ea09a1d7-0195-1000-3a16-47efad1d3e2b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"bb53650c-a181-349e-a63c-c9cb8a4a8290","instanceIdentifier":"ea04a692-0195-1000-2298-a7f1975c5893","name":"","source":{"id":"487bb7e8-35e8-333c-af92-24576a0572f9","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"LogAttribute","comments":"","instanceIdentifier":"ea03b65b-0195-1000-c17e-cd0f56c0551c"},"destination":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"ea03d72b-0195-1000-59e1-05be97cd9ef5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"3638025a-143f-3e79-aee7-82e5dfb33c33","instanceIdentifier":"ea04c21b-0195-1000-924a-cdbb5bc9b2c2","name":"","source":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"ea03d72b-0195-1000-59e1-05be97cd9ef5"},"destination":{"id":"271e14e9-e3d8-35f5-acac-bffd720086c5","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"LogAttribute","comments":"","instanceIdentifier":"ea03f66b-0195-1000-634b-076c5c4bd1a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"3e353f44-1f28-3170-91b8-0f5284ad9f82","instanceIdentifier":"ea09e2e5-0195-1000-6fe5-a65dc7a23dd5","name":"","source":{"id":"19d06675-1287-3d91-b80c-44ce898478e4","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"ea03d72b-0195-1000-59e1-05be97cd9ef5"},"destination":{"id":"9f9a4ca6-2fda-366d-a607-434ee549d141","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"ea09a1d7-0195-1000-3a16-47efad1d3e2b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"f1b89775-444d-3181-af83-b9b934f0c333","instanceIdentifier":"ea0463ce-0195-1000-0aba-feea4351d42b","name":"","source":{"id":"d88faf10-028a-324a-b22e-629f49f75684","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"LogAttribute","comments":"","instanceIdentifier":"ea035a50-0195-1000-d145-ffeadb1d3d38"},"destination":{"id":"df509132-5d68-3656-9ee1-a24babbb3d96","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ea03791a-0195-1000-6453-8e70e2baf71d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"d16f70de-bd95-3039-92ad-c3eee9af6ff1","instanceIdentifier":"ea049792-0195-1000-96fc-97b245172d22","name":"","source":{"id":"b67a190c-a2c6-3fa3-9eb7-a7693a1f1631","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"ReplaceText","comments":"","instanceIdentifier":"ea038fff-0195-1000-bb41-90056ffaad3d"},"destination":{"id":"487bb7e8-35e8-333c-af92-24576a0572f9","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"LogAttribute","comments":"","instanceIdentifier":"ea03b65b-0195-1000-c17e-cd0f56c0551c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"d199beaa-6f31-395a-a627-58fb40c6cdcf","instanceIdentifier":"ea042fb8-0195-1000-a09a-9878bf13bcbf","name":"","source":{"id":"b67a190c-a2c6-3fa3-9eb7-a7693a1f1631","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"ReplaceText","comments":"","instanceIdentifier":"ea038fff-0195-1000-bb41-90056ffaad3d"},"destination":{"id":"21c82c52-4fd4-3d59-a580-ec228bb1ea6d","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"ea041617-0195-1000-6698-9da285e7b7a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"e6dcfb51-ee40-33bf-9466-47cd130af5c8","instanceIdentifier":"ea04762d-0195-1000-b462-018fab17a885","name":"","source":{"id":"df509132-5d68-3656-9ee1-a24babbb3d96","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ea03791a-0195-1000-6453-8e70e2baf71d"},"destination":{"id":"b67a190c-a2c6-3fa3-9eb7-a7693a1f1631","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"ReplaceText","comments":"","instanceIdentifier":"ea038fff-0195-1000-bb41-90056ffaad3d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"ea965e54-898b-3742-a11f-527c2aa79752","instanceIdentifier":"ea09c8a1-0195-1000-b022-ba4c7aed9855","name":"","source":{"id":"df509132-5d68-3656-9ee1-a24babbb3d96","type":"PROCESSOR","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ea03791a-0195-1000-6453-8e70e2baf71d"},"destination":{"id":"9f9a4ca6-2fda-366d-a607-434ee549d141","type":"FUNNEL","groupId":"19683749-d095-382d-8a05-74b3b36f934c","name":"Funnel","comments":"","instanceIdentifier":"ea09a1d7-0195-1000-3a16-47efad1d3e2b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":672.0,"y":-40.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"}],"labels":[],"funnels":[{"identifier":"9f9a4ca6-2fda-366d-a607-434ee549d141","instanceIdentifier":"ea09a1d7-0195-1000-3a16-47efad1d3e2b","position":{"x":860.5,"y":39.93335723876953},"componentType":"FUNNEL","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"4b5d0068-ce9b-398e-a189-3f7591a0896a","instanceIdentifier":"ea04ce10-0195-1000-f5e8-e3ffea5e72f2","position":{"x":-412.4996643066406,"y":535.9333419799805},"componentType":"FUNNEL","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"21c82c52-4fd4-3d59-a580-ec228bb1ea6d","instanceIdentifier":"ea041617-0195-1000-6698-9da285e7b7a8","position":{"x":-816.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"}],"controllerServices":[{"identifier":"c2632bde-dca9-3cbc-afa3-4fdf14165363","instanceIdentifier":"ea076ef5-0195-1000-1f21-39e7518d91e0","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{ \n  \"type\": \"record\", \n  \"name\": \"Tension_processed\", \n  \"fields\": [ \n    {\"name\": \"fecha\", \"type\": \"string\"}, \n    {\"name\": \"hora\", \"type\": \"string\"}, \n    {\"name\": \"id_subestacion\", \"type\": [\"null\", \"int\"], \"default\": null}, \n    {\"name\": \"dia_semana\", \"type\": [\"null\", \"int\"], \"default\": null}, \n    {\"name\": \"tension_servicio\", \"type\": [\"null\", \"float\"], \"default\": null} \n  ],\n  \"namespace\": \"org.apache.nifi.record.path\"\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"29574bd8-9ebb-3750-9d44-5d862d9484aa","instanceIdentifier":"ea0831a9-0195-1000-4203-412e5e138fd1","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"},{"identifier":"2461f96a-df56-30a2-a74d-c76a7f292c17","instanceIdentifier":"ea054295-0195-1000-b70a-756c7cad4823","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"19683749-d095-382d-8a05-74b3b36f934c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"259ad2c9-de20-3380-a49e-154aac2495a4"},{"identifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","instanceIdentifier":"e9f89203-0195-1000-ec50-f20b43012df6","name":"Grupo Productor","comments":"","position":{"x":-328.0,"y":-176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"38d99515-11a5-3565-90a5-230c364b46b6","instanceIdentifier":"ec96a828-0195-1000-7cdd-66367d850fe1","name":"LogAttribute","comments":"","position":{"x":-1416.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"11118776-8179-39ef-8c68-d1c5ce60b4b9","instanceIdentifier":"e9ff61c3-0195-1000-ac37-fd51994cecc4","name":"LogAttribute","comments":"","position":{"x":8.0,"y":8.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"34c944c5-bee6-32d9-b793-2988478f5f6e","instanceIdentifier":"e9fc0bd1-0195-1000-218b-3e18c352e877","name":"SplitJson","comments":"","position":{"x":-592.0,"y":16.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"5 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"91326fb0-aff6-385c-997b-cf3d6393a40c","instanceIdentifier":"e9fee94a-0195-1000-6104-08a6a2bacc22","name":"LogAttribute","comments":"","position":{"x":-600.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"426cce26-0070-351d-9d20-5c95d7417859","instanceIdentifier":"e9fc8676-0195-1000-b1de-1b04dc87f02c","name":"MergeContent","comments":"","position":{"x":16.0,"y":216.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"200","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"200"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"d1fd750d-d5f6-3935-b75c-acf060301cb4","instanceIdentifier":"e9fbf7ed-0195-1000-149d-c8dea531eda2","name":"ConvertRecord","comments":"","position":{"x":24.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"76ca5099-75a9-3496-8eaa-5b9e00d9851f","Record Reader":"8d775c29-b4c5-39c1-9b37-97e5c2c0bd84"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"90457817-e049-34b1-9f7a-c34bc93e71fc","instanceIdentifier":"e9f8d7b7-0195-1000-b079-ca7c436c3eba","name":"QueryDatabaseTable","comments":"","position":{"x":-608.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"default.end.date":"CURRENT_DATE","Table Name":"tension_dep","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"4ffbe41a-04ea-3e79-8c1a-0cd91cc6fb8f","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"1000","qdbt-max-rows":"0","qdbt-max-frags":"10","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"1000","db-fetch-sql-query":"/* CONSULTA BASE - NO MODIFICAR MANUALMENTE */\nSELECT \n    fecha, \n    hora, \n    id_subestacion, \n    dia_semana, \n    tension_servicio\nFROM tension_dep \nWHERE 1=1\nORDER BY fecha, hora, id_subestacion","Columns to Return":null,"default.start.date":"CURRENT_DATE - INTERVAL '1 day'","db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null,"Database Dialect Service":null},"propertyDescriptors":{"default.end.date":{"name":"default.end.date","displayName":"default.end.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default.start.date":{"name":"default.start.date","displayName":"default.start.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"120 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"2fc9f0e6-338b-3ee8-9dbb-22523d51701b","instanceIdentifier":"e9fb71ae-0195-1000-5c0e-5efbccb6ebcc","name":"LogAttribute","comments":"","position":{"x":16.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"ALL","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"e6885254-0252-332c-aac8-77b17af96ad8","instanceIdentifier":"e9fc66be-0195-1000-f243-a7ff628dd677","name":"PublishKafka","comments":"","position":{"x":-592.0,"y":224.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"snappy","acks":"0","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"tension_data","Kafka Key":null,"partition":null,"Kafka Connection Service":"8401e8cd-0a28-3375-a10c-355c03db2f15","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"0daf50e4-7720-3278-a975-e964ed9acb06","instanceIdentifier":"ec968c00-0195-1000-f607-1a317fa17b5b","name":"QueryDatabaseTable","comments":"","position":{"x":-2000.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Table Name":"tension_dep","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"4ffbe41a-04ea-3e79-8c1a-0cd91cc6fb8f","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"0","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"0","db-fetch-sql-query":"/* CONSULTA BASE - NO MODIFICAR MANUALMENTE */\nSELECT \n    fecha, \n    hora, \n    id_subestacion, \n    dia_semana, \n    tension_servicio\nFROM tension_dep \nWHERE fecha BETWEEN '2019-01-01' AND '2019-01-31'\nORDER BY fecha, hora, id_subestacion","Columns to Return":null,"db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null,"Database Dialect Service":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1b8f9a63-6d8f-3520-ac7e-2b761564c05e","instanceIdentifier":"ec981818-0195-1000-1b24-ebb931760dc6","name":"","source":{"id":"38d99515-11a5-3565-90a5-230c364b46b6","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"LogAttribute","comments":"","instanceIdentifier":"ec96a828-0195-1000-7cdd-66367d850fe1"},"destination":{"id":"0ba5141b-03a2-382a-bc85-b06da62933a5","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"ec980d03-0195-1000-681c-1a42e9f41bc1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"0e115c44-50bf-32e9-9bf9-b2d3d3b414ec","instanceIdentifier":"e9fe2cc9-0195-1000-b6e9-da9554fd191e","name":"","source":{"id":"34c944c5-bee6-32d9-b793-2988478f5f6e","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"SplitJson","comments":"","instanceIdentifier":"e9fc0bd1-0195-1000-218b-3e18c352e877"},"destination":{"id":"520fc6f3-2932-367c-a657-64909c167cfb","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"e9fcb615-0195-1000-c90c-b5b6d542ab37"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"46f72f60-8b28-31a5-ab92-ac4bf59999eb","instanceIdentifier":"e9fe4a7f-0195-1000-e863-616729fb40a8","name":"","source":{"id":"34c944c5-bee6-32d9-b793-2988478f5f6e","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"SplitJson","comments":"","instanceIdentifier":"e9fc0bd1-0195-1000-218b-3e18c352e877"},"destination":{"id":"c2b4accf-b9ec-3f60-820b-9c345e4127de","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"e9fcc895-0195-1000-c896-e8ef15a5c746"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"e81422b4-0303-3625-985a-5139cf0e0ac5","instanceIdentifier":"e9ff8d05-0195-1000-48d7-14f49249449c","name":"","source":{"id":"11118776-8179-39ef-8c68-d1c5ce60b4b9","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"LogAttribute","comments":"","instanceIdentifier":"e9ff61c3-0195-1000-ac37-fd51994cecc4"},"destination":{"id":"426cce26-0070-351d-9d20-5c95d7417859","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"MergeContent","comments":"","instanceIdentifier":"e9fc8676-0195-1000-b1de-1b04dc87f02c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"dfe6774e-cde6-3c1b-8c20-e31dc7e842cd","instanceIdentifier":"e9ff055d-0195-1000-9a11-b9b694bdb3a7","name":"","source":{"id":"d1fd750d-d5f6-3935-b75c-acf060301cb4","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"ConvertRecord","comments":"","instanceIdentifier":"e9fbf7ed-0195-1000-149d-c8dea531eda2"},"destination":{"id":"91326fb0-aff6-385c-997b-cf3d6393a40c","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"LogAttribute","comments":"","instanceIdentifier":"e9fee94a-0195-1000-6104-08a6a2bacc22"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"e28ae626-d7d4-3716-a4ff-ce35caae79fc","instanceIdentifier":"e9fe05f8-0195-1000-abf9-d2d05b868ca2","name":"","source":{"id":"e6885254-0252-332c-aac8-77b17af96ad8","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"PublishKafka","comments":"","instanceIdentifier":"e9fc66be-0195-1000-f243-a7ff628dd677"},"destination":{"id":"c2b4accf-b9ec-3f60-820b-9c345e4127de","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"e9fcc895-0195-1000-c896-e8ef15a5c746"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"8e980e40-0401-34b2-9697-4f65eb6f2a63","instanceIdentifier":"e9ff2959-0195-1000-04b7-51ed7bdac369","name":"","source":{"id":"91326fb0-aff6-385c-997b-cf3d6393a40c","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"LogAttribute","comments":"","instanceIdentifier":"e9fee94a-0195-1000-6104-08a6a2bacc22"},"destination":{"id":"34c944c5-bee6-32d9-b793-2988478f5f6e","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"SplitJson","comments":"","instanceIdentifier":"e9fc0bd1-0195-1000-218b-3e18c352e877"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"909f782e-e532-3644-9ef3-afd89da01ea9","instanceIdentifier":"e9fda7e0-0195-1000-0e0b-79d7bad85423","name":"","source":{"id":"426cce26-0070-351d-9d20-5c95d7417859","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"MergeContent","comments":"","instanceIdentifier":"e9fc8676-0195-1000-b1de-1b04dc87f02c"},"destination":{"id":"acee9d3f-6470-3150-a23c-83ac0fa239d8","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"e9fcec54-0195-1000-f96e-20eded62f0ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":600.0,"y":240.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"53a08e6d-5cde-3851-be7e-9952a0fb3ea3","instanceIdentifier":"e9fd8b6e-0195-1000-c7a0-50528f319f02","name":"","source":{"id":"426cce26-0070-351d-9d20-5c95d7417859","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"MergeContent","comments":"","instanceIdentifier":"e9fc8676-0195-1000-b1de-1b04dc87f02c"},"destination":{"id":"acee9d3f-6470-3150-a23c-83ac0fa239d8","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"e9fcec54-0195-1000-f96e-20eded62f0ba"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"642944e2-b81a-30d3-b2f1-6e1bee036ded","instanceIdentifier":"e9ff4e61-0195-1000-6169-08de4351f1cf","name":"","source":{"id":"d1fd750d-d5f6-3935-b75c-acf060301cb4","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"ConvertRecord","comments":"","instanceIdentifier":"e9fbf7ed-0195-1000-149d-c8dea531eda2"},"destination":{"id":"26090091-f1e8-375d-9fb1-d4cccea93274","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"e9fce280-0195-1000-79b0-fe0318c26848"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"ea17cf55-5211-3376-9e40-3e96bb7794a7","instanceIdentifier":"e9feb505-0195-1000-e036-aa67e1bde840","name":"","source":{"id":"2fc9f0e6-338b-3ee8-9dbb-22523d51701b","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"LogAttribute","comments":"","instanceIdentifier":"e9fb71ae-0195-1000-5c0e-5efbccb6ebcc"},"destination":{"id":"d1fd750d-d5f6-3935-b75c-acf060301cb4","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"ConvertRecord","comments":"","instanceIdentifier":"e9fbf7ed-0195-1000-149d-c8dea531eda2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"51015189-33b0-3af5-a140-05fa6a29d036","instanceIdentifier":"ec96baa9-0195-1000-91da-d50a0e2d6f76","name":"","source":{"id":"0daf50e4-7720-3278-a975-e964ed9acb06","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"ec968c00-0195-1000-f607-1a317fa17b5b"},"destination":{"id":"38d99515-11a5-3565-90a5-230c364b46b6","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"LogAttribute","comments":"","instanceIdentifier":"ec96a828-0195-1000-7cdd-66367d850fe1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"bcf95281-4546-3720-920c-3f3d663e23ea","instanceIdentifier":"e9ff7ed3-0195-1000-074e-d3723590832f","name":"","source":{"id":"34c944c5-bee6-32d9-b793-2988478f5f6e","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"SplitJson","comments":"","instanceIdentifier":"e9fc0bd1-0195-1000-218b-3e18c352e877"},"destination":{"id":"11118776-8179-39ef-8c68-d1c5ce60b4b9","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"LogAttribute","comments":"","instanceIdentifier":"e9ff61c3-0195-1000-ac37-fd51994cecc4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":150000,"backPressureDataSizeThreshold":"15 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"9394ce99-0775-328e-a055-544e36296698","instanceIdentifier":"e9fea31b-0195-1000-fa8c-2c4d27ebd18e","name":"","source":{"id":"90457817-e049-34b1-9f7a-c34bc93e71fc","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"e9f8d7b7-0195-1000-b079-ca7c436c3eba"},"destination":{"id":"2fc9f0e6-338b-3ee8-9dbb-22523d51701b","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"LogAttribute","comments":"","instanceIdentifier":"e9fb71ae-0195-1000-5c0e-5efbccb6ebcc"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"685549cd-4601-348c-976e-e5562c55e01c","instanceIdentifier":"e9fd5757-0195-1000-1a2e-1e14a65c2a31","name":"","source":{"id":"e6885254-0252-332c-aac8-77b17af96ad8","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"PublishKafka","comments":"","instanceIdentifier":"e9fc66be-0195-1000-f243-a7ff628dd677"},"destination":{"id":"fbc086da-9fb8-382f-9cfc-c4411c06eec0","type":"FUNNEL","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"Funnel","comments":"","instanceIdentifier":"e9fcd192-0195-1000-e1d1-4ed63f8a7b92"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":450000,"backPressureDataSizeThreshold":"45 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"8dbc5523-cd7a-3cb6-892b-e7945e6558bd","instanceIdentifier":"e9fd70a6-0195-1000-971b-110366f5d344","name":"","source":{"id":"426cce26-0070-351d-9d20-5c95d7417859","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"MergeContent","comments":"","instanceIdentifier":"e9fc8676-0195-1000-b1de-1b04dc87f02c"},"destination":{"id":"e6885254-0252-332c-aac8-77b17af96ad8","type":"PROCESSOR","groupId":"f35dfed5-6e7e-33cd-8455-234c0136d8c7","name":"PublishKafka","comments":"","instanceIdentifier":"e9fc66be-0195-1000-f243-a7ff628dd677"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"}],"labels":[],"funnels":[{"identifier":"acee9d3f-6470-3150-a23c-83ac0fa239d8","instanceIdentifier":"e9fcec54-0195-1000-f96e-20eded62f0ba","position":{"x":816.0,"y":336.0},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"26090091-f1e8-375d-9fb1-d4cccea93274","instanceIdentifier":"e9fce280-0195-1000-79b0-fe0318c26848","position":{"x":554.5460713298633,"y":16.026729006779817},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"0ba5141b-03a2-382a-bc85-b06da62933a5","instanceIdentifier":"ec980d03-0195-1000-681c-1a42e9f41bc1","position":{"x":-1552.0,"y":-104.0},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"fbc086da-9fb8-382f-9cfc-c4411c06eec0","instanceIdentifier":"e9fcd192-0195-1000-e1d1-4ed63f8a7b92","position":{"x":-792.8419690821074,"y":428.6643163829458},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"520fc6f3-2932-367c-a657-64909c167cfb","instanceIdentifier":"e9fcb615-0195-1000-c90c-b5b6d542ab37","position":{"x":-944.0,"y":32.0},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"c2b4accf-b9ec-3f60-820b-9c345e4127de","instanceIdentifier":"e9fcc895-0195-1000-c896-e8ef15a5c746","position":{"x":-904.0,"y":256.0},"componentType":"FUNNEL","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"}],"controllerServices":[{"identifier":"4ffbe41a-04ea-3e79-8c1a-0cd91cc6fb8f","instanceIdentifier":"e9f9321d-0195-1000-1a2a-b53516336402","name":"DBCPConnectionPool tension_dep","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/centrosur","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"8401e8cd-0a28-3375-a10c-355c03db2f15","instanceIdentifier":"ea021af3-0195-1000-7e64-9713ff44da6c","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"8d775c29-b4c5-39c1-9b37-97e5c2c0bd84","instanceIdentifier":"ea0028ac-0195-1000-e725-2e39e3de5541","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"100000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"},{"identifier":"76ca5099-75a9-3496-8eaa-5b9e00d9851f","instanceIdentifier":"ea003a33-0195-1000-54b2-3f99eae12f4d","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f35dfed5-6e7e-33cd-8455-234c0136d8c7"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"259ad2c9-de20-3380-a49e-154aac2495a4"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"ea0a16a7-0195-1000-1116-80621f0f45f8","instanceIdentifier":"8d956a7e-462c-3557-cbf1-093a5d8bbad3","position":{"x":248.0,"y":-368.0},"label":"Grupo que consume los datos publicados en Kafka mediante el tema : tension-data, y el grupo creado llamado tension-dep-consumer-group , del cual maneja los valores en json para volverlos a insertar especificando las tablas y insertarlos en una nueva BD Prueba con la tabla tension_dep_processed ","zIndex":0,"width":392.0,"height":160.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"259ad2c9-de20-3380-a49e-154aac2495a4"},{"identifier":"ea0a0a99-0195-1000-0484-6ccb6c4e53d1","instanceIdentifier":"d5e9950f-c6c7-3149-df43-74dc53e89f30","position":{"x":-344.0,"y":-352.0},"label":"Grupo que Produce o obtiene de la BD la tabla tension_dep de todos sus registros se transforman  de avro(que vienen de la BD) a json para un mejor manejo y estos datos se los publica a Kafka en el tema :tension-data \n","zIndex":0,"width":392.0,"height":136.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"259ad2c9-de20-3380-a49e-154aac2495a4"}],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}