Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-potenciadep.json
{"flowContents":{"identifier":"85b21170-b790-3b83-9b88-d16b39fba3aa","instanceIdentifier":"c8e554a4-0195-1000-6c04-3b57b4734411","name":"Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-potenciadep","comments":"Comunicacion Nifi y Kafka v2 con envio de datos de la tabla potencia_dep pero solo por mes **2019-01-01 hasta el 2019-02-01** de todos los alimentadores","position":{"x":48.0,"y":-144.0},"processGroups":[{"identifier":"b047045a-c840-3a34-903e-8b3ca829385f","instanceIdentifier":"6158402d-3d57-3b93-f495-e7ce8fd41ec1","name":"Grupo Productor","comments":"","position":{"x":-480.0,"y":-272.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"029870c7-a2c7-3ea7-9937-d91039698332","instanceIdentifier":"205c7896-2cd4-3474-d6ad-84702ab4aab3","name":"LogAttribute","comments":"","position":{"x":-1264.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"1b4d4870-f42d-3e02-b51f-47ab82443419","instanceIdentifier":"cc4b014c-8e63-31e4-b92a-1e4b01195329","name":"PublishKafka","comments":"","position":{"x":-1272.0,"y":-56.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"snappy","acks":"0","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"potencia-data","Kafka Key":null,"partition":null,"Kafka Connection Service":"ef999d74-8685-3a3d-a49e-bad449755a24","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ae8484"},"schedulingPeriod":"50 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"81326a1b-c2a3-3e00-8d0f-a0ddde25c16c","instanceIdentifier":"540974c4-63d4-3b30-571a-4b1ea2e2d7b2","name":"MergeContent","comments":"","position":{"x":-608.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"200","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"30 sec","Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"200"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"70fe66c1-27d3-3b2d-804f-87f756128f8b","instanceIdentifier":"7bd31d9f-f3dc-38a0-86ea-7bfdd4442003","name":"SplitJson","comments":"","position":{"x":-1264.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"5 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"abd99b77-ea8c-3322-a46d-ae4c7c5a57cc","instanceIdentifier":"034862ed-62d3-3faf-4e23-5edf7b7404ff","name":"LogAttribute","comments":"","position":{"x":-616.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":".*","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"f82691c8-31a1-3b0c-9fb5-9fbd9442533e","instanceIdentifier":"8af6f50f-cf62-316e-20f1-78f60be56b38","name":"ConvertRecord","comments":"","position":{"x":-616.0,"y":-464.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"5b7694ba-b351-34e7-b897-d0045b52c820","Record Reader":"97f8153f-4dfa-3810-9932-beed5a11d0c5"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#dcacfb"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"5d116b41-fc40-3436-8d5e-c72ddca6cdb7","instanceIdentifier":"1b855120-d6c4-3936-cc56-66f917accf6f","name":"LogAttribute","comments":"","position":{"x":-616.0,"y":-656.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"ALL","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"098372b1-100c-3cd2-8581-17c4772fb35e","instanceIdentifier":"29b29861-b2a4-3293-c055-26912dad243e","name":"QueryDatabaseTable","comments":"","position":{"x":-1272.0,"y":-656.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"default.end.date":"CURRENT_DATE","Table Name":"potencia_dep","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":null,"Max Wait Time":"30 seconds","Database Connection Pooling Service":"0d5e6fc4-e360-3ea7-a992-99dc1574dcdb","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"1000","qdbt-max-rows":"0","qdbt-max-frags":"10","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"1000","db-fetch-sql-query":"/* CONSULTA BASE - NO MODIFICAR MANUALMENTE */\nSELECT \n    fecha, \n    hora, \n    alimentador, \n    dia_semana, \n    potencia_activa, \n    potencia_reactiva\nFROM potencia_dep \nWHERE 1=1\nORDER BY fecha, hora, alimentador\nLIMIT 500000","Columns to Return":null,"default.start.date":"CURRENT_DATE - INTERVAL '1 day'","db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null,"Max Rows Per Flow File":"0","Database Dialect Service":null},"propertyDescriptors":{"default.end.date":{"name":"default.end.date","displayName":"default.end.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default.start.date":{"name":"default.start.date","displayName":"default.start.date","identifiesControllerService":false,"sensitive":false,"dynamic":true},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per Flow File":{"name":"Max Rows Per Flow File","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#aedeea"},"schedulingPeriod":"120 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"26b3d8ea-b170-3a7e-93cd-bf90d60b4502","instanceIdentifier":"357aecf3-600a-3ac8-e68e-2afbe5fcc1b9","name":"","source":{"id":"098372b1-100c-3cd2-8581-17c4772fb35e","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"29b29861-b2a4-3293-c055-26912dad243e"},"destination":{"id":"5d116b41-fc40-3436-8d5e-c72ddca6cdb7","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"LogAttribute","comments":"","instanceIdentifier":"1b855120-d6c4-3936-cc56-66f917accf6f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"39d9afe3-192c-3891-a330-5a8a7a530539","instanceIdentifier":"5d4f1dce-a8b9-3e84-4655-ae0423e1b384","name":"","source":{"id":"abd99b77-ea8c-3322-a46d-ae4c7c5a57cc","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"LogAttribute","comments":"","instanceIdentifier":"034862ed-62d3-3faf-4e23-5edf7b7404ff"},"destination":{"id":"81326a1b-c2a3-3e00-8d0f-a0ddde25c16c","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"MergeContent","comments":"","instanceIdentifier":"540974c4-63d4-3b30-571a-4b1ea2e2d7b2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"10 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"47542c84-0e90-364c-88f8-ebe8a9734d38","instanceIdentifier":"c1bbc6db-dbe0-316b-d209-0dfcca9a1f04","name":"","source":{"id":"1b4d4870-f42d-3e02-b51f-47ab82443419","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"PublishKafka","comments":"","instanceIdentifier":"cc4b014c-8e63-31e4-b92a-1e4b01195329"},"destination":{"id":"9837e51e-6e5d-3929-b962-f79274b3e2be","type":"FUNNEL","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"Funnel","comments":"","instanceIdentifier":"767d9fb5-0e73-39ce-5748-670d7de62827"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"a48d2c86-b6e1-31e2-a1bf-60fb9eb8edad","instanceIdentifier":"adf8c899-38b7-342f-b28c-efcc4378f093","name":"","source":{"id":"70fe66c1-27d3-3b2d-804f-87f756128f8b","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"SplitJson","comments":"","instanceIdentifier":"7bd31d9f-f3dc-38a0-86ea-7bfdd4442003"},"destination":{"id":"9837e51e-6e5d-3929-b962-f79274b3e2be","type":"FUNNEL","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"Funnel","comments":"","instanceIdentifier":"767d9fb5-0e73-39ce-5748-670d7de62827"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"76962cc8-85d2-3474-9e01-1394b59ee16f","instanceIdentifier":"13cb48a8-8d95-3a5b-2492-3cca11341af3","name":"","source":{"id":"81326a1b-c2a3-3e00-8d0f-a0ddde25c16c","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"MergeContent","comments":"","instanceIdentifier":"540974c4-63d4-3b30-571a-4b1ea2e2d7b2"},"destination":{"id":"1b4d4870-f42d-3e02-b51f-47ab82443419","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"PublishKafka","comments":"","instanceIdentifier":"cc4b014c-8e63-31e4-b92a-1e4b01195329"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"d1838861-0e59-3e11-adf6-d3ea6d3d311c","instanceIdentifier":"5d107a85-6a1b-3905-e1f3-a588e5b298f7","name":"","source":{"id":"029870c7-a2c7-3ea7-9937-d91039698332","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"LogAttribute","comments":"","instanceIdentifier":"205c7896-2cd4-3474-d6ad-84702ab4aab3"},"destination":{"id":"70fe66c1-27d3-3b2d-804f-87f756128f8b","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"SplitJson","comments":"","instanceIdentifier":"7bd31d9f-f3dc-38a0-86ea-7bfdd4442003"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"5b294a95-4711-3c03-b48d-705116d891ed","instanceIdentifier":"8d7b3c4f-5414-3bc7-2e69-883e9ccf132f","name":"","source":{"id":"81326a1b-c2a3-3e00-8d0f-a0ddde25c16c","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"MergeContent","comments":"","instanceIdentifier":"540974c4-63d4-3b30-571a-4b1ea2e2d7b2"},"destination":{"id":"cd3ef48d-b15e-3fde-9bba-0f135c8d9df7","type":"FUNNEL","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"Funnel","comments":"","instanceIdentifier":"e10551c1-7304-341a-d92e-319e31a8ce80"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-160.0,"y":136.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"1e48ba34-8210-31d2-a3bb-d1de52a5d3a9","instanceIdentifier":"a1459806-29d1-3044-abb5-855b3c3ef5df","name":"","source":{"id":"70fe66c1-27d3-3b2d-804f-87f756128f8b","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"SplitJson","comments":"","instanceIdentifier":"7bd31d9f-f3dc-38a0-86ea-7bfdd4442003"},"destination":{"id":"abd99b77-ea8c-3322-a46d-ae4c7c5a57cc","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"LogAttribute","comments":"","instanceIdentifier":"034862ed-62d3-3faf-4e23-5edf7b7404ff"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":150000,"backPressureDataSizeThreshold":"15 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"1e5c8ed4-ea4b-3b27-aba9-fcb5f275da7e","instanceIdentifier":"2272912d-0555-323b-7d8f-100a748f7f62","name":"","source":{"id":"70fe66c1-27d3-3b2d-804f-87f756128f8b","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"SplitJson","comments":"","instanceIdentifier":"7bd31d9f-f3dc-38a0-86ea-7bfdd4442003"},"destination":{"id":"7f98766c-16f1-3c3f-9517-b6e06399b757","type":"FUNNEL","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"Funnel","comments":"","instanceIdentifier":"8cf11093-5912-38a1-18ab-ac60ef26b97e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"5949f630-a42c-34a4-8ad3-24f25fae7a94","instanceIdentifier":"28425f1f-a90e-3dd5-ae57-caa2fce8dfeb","name":"","source":{"id":"f82691c8-31a1-3b0c-9fb5-9fbd9442533e","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"ConvertRecord","comments":"","instanceIdentifier":"8af6f50f-cf62-316e-20f1-78f60be56b38"},"destination":{"id":"75f08961-a6e9-320b-9967-73eab851a27f","type":"FUNNEL","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"Funnel","comments":"","instanceIdentifier":"ce8bc2f7-14a4-389d-15b6-5c361b15db9b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"305443dd-230e-3708-9a12-fcb2905c8415","instanceIdentifier":"b23ae157-3c87-3c16-e3fa-65637afe807a","name":"","source":{"id":"1b4d4870-f42d-3e02-b51f-47ab82443419","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"PublishKafka","comments":"","instanceIdentifier":"cc4b014c-8e63-31e4-b92a-1e4b01195329"},"destination":{"id":"08b2f748-00a1-30ea-ad38-eb65c55c9c69","type":"FUNNEL","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"Funnel","comments":"","instanceIdentifier":"d0103aa5-6d95-3706-0945-c0ebf9dd1ded"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":300000,"backPressureDataSizeThreshold":"30 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"8b5b971d-671f-35cd-a7d1-913544b23d3d","instanceIdentifier":"736a4d2c-f749-3d52-6bbc-c17aa036305f","name":"","source":{"id":"f82691c8-31a1-3b0c-9fb5-9fbd9442533e","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"ConvertRecord","comments":"","instanceIdentifier":"8af6f50f-cf62-316e-20f1-78f60be56b38"},"destination":{"id":"029870c7-a2c7-3ea7-9937-d91039698332","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"LogAttribute","comments":"","instanceIdentifier":"205c7896-2cd4-3474-d6ad-84702ab4aab3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"376a8a0f-52e3-3f43-80a6-9fba512c742e","instanceIdentifier":"eff68019-9a3d-304b-8239-48b7fdda7710","name":"","source":{"id":"81326a1b-c2a3-3e00-8d0f-a0ddde25c16c","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"MergeContent","comments":"","instanceIdentifier":"540974c4-63d4-3b30-571a-4b1ea2e2d7b2"},"destination":{"id":"cd3ef48d-b15e-3fde-9bba-0f135c8d9df7","type":"FUNNEL","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"Funnel","comments":"","instanceIdentifier":"e10551c1-7304-341a-d92e-319e31a8ce80"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"0902901d-93e6-38ce-9756-f6f72901c1b2","instanceIdentifier":"89b7458b-7bfc-3104-1fd4-d8c1a055c2d3","name":"","source":{"id":"5d116b41-fc40-3436-8d5e-c72ddca6cdb7","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"LogAttribute","comments":"","instanceIdentifier":"1b855120-d6c4-3936-cc56-66f917accf6f"},"destination":{"id":"f82691c8-31a1-3b0c-9fb5-9fbd9442533e","type":"PROCESSOR","groupId":"b047045a-c840-3a34-903e-8b3ca829385f","name":"ConvertRecord","comments":"","instanceIdentifier":"8af6f50f-cf62-316e-20f1-78f60be56b38"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"}],"labels":[],"funnels":[{"identifier":"cd3ef48d-b15e-3fde-9bba-0f135c8d9df7","instanceIdentifier":"e10551c1-7304-341a-d92e-319e31a8ce80","position":{"x":24.0,"y":8.0},"componentType":"FUNNEL","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"75f08961-a6e9-320b-9967-73eab851a27f","instanceIdentifier":"ce8bc2f7-14a4-389d-15b6-5c361b15db9b","position":{"x":32.0,"y":-376.0},"componentType":"FUNNEL","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"7f98766c-16f1-3c3f-9517-b6e06399b757","instanceIdentifier":"8cf11093-5912-38a1-18ab-ac60ef26b97e","position":{"x":-1672.0,"y":-232.0},"componentType":"FUNNEL","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"08b2f748-00a1-30ea-ad38-eb65c55c9c69","instanceIdentifier":"d0103aa5-6d95-3706-0945-c0ebf9dd1ded","position":{"x":-1616.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"},{"identifier":"9837e51e-6e5d-3929-b962-f79274b3e2be","instanceIdentifier":"767d9fb5-0e73-39ce-5748-670d7de62827","position":{"x":-1632.0,"y":-32.0},"componentType":"FUNNEL","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"}],"controllerServices":[{"identifier":"ef999d74-8685-3a3d-a49e-bad449755a24","instanceIdentifier":"0a9e08d9-d74c-3740-619b-ca4d599cc456","name":"Kafka3ConnectionService","comments":"Este controlador Permite la conexción con kafka para el envio y la recepcion de datos con su conexión : \nkafka_centrosur:9092\nComo de igual forma su protocolo de seguridad que es un texto plano:\nSecurity Protocol\nPLAINTEXT","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b047045a-c840-3a34-903e-8b3ca829385f"}],"defaultFlowFileExpiration":"10 min","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"85b21170-b790-3b83-9b88-d16b39fba3aa"},{"identifier":"f157ae52-f878-325a-b7fe-d21aa021733a","instanceIdentifier":"dacfd63a-e4e9-3e72-7b7f-5c71c5f06872","name":"Grupo Consumidor","comments":"","position":{"x":48.0,"y":-272.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"50a69f55-31a5-3c77-a747-02444c905da2","instanceIdentifier":"ccdfd5b9-c664-31da-add9-cd1f39065d7b","name":"LogAttribute","comments":"","position":{"x":464.0,"y":560.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"8f1dcea7-83e1-3c56-bdc7-0f2d75602930","instanceIdentifier":"63a983a7-a610-3e13-b838-543019509422","name":"LogAttribute","comments":"","position":{"x":-288.0,"y":288.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"43099e79-dcd3-3262-9b67-12d4aa8d3233","instanceIdentifier":"320e5f6d-81dd-3239-136d-7eba23210396","name":"PutDatabaseRecord","comments":"","position":{"x":472.0,"y":296.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"100","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"cc901ca9-d578-311a-b46f-cc8a23e91b87","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"potencia_dep_processed","put-db-record-record-reader":"38800879-ec24-32cd-bdb0-4a249bb4ccfd"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#c3ffc2"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"733e874d-67da-34a2-824e-993e4270c5ce","instanceIdentifier":"6061a81c-6d27-31e6-c87d-1e4c4562bdee","name":"LogAttribute","comments":"","position":{"x":464.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"b9f59ef6-0471-3c39-a612-e6d7da2a5f98","instanceIdentifier":"2367fbd3-7e63-397a-86ce-45406f9515f1","name":"ConsumeKafka","comments":"","position":{"x":-280.0,"y":-192.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"Topics":"potencia-data","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"10 sec","Kafka Connection Service":"b5a3f0ac-dbdc-3a55-8b30-93a3c5151c9b","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"potencia-data-new-1","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#cdcbb7"},"schedulingPeriod":"500 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":8,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"c6811531-b28a-3018-b539-ae3456aa7873","instanceIdentifier":"60712224-3e2d-3c64-2f64-b87157b6d2fe","name":"EvaluateJsonPath","comments":"","position":{"x":472.0,"y":40.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","fecha":"$.fecha","Max String Length":"20 MB","hora":"$.hora","Return Type":"auto-detect","potencia_activa":"$.potencia_activa","Null Value Representation":"empty string","potencia_reactiva":"$.potencia_reactiva","alimentador":"$.alimentador","Path Not Found Behavior":"warn","dia_semana":"$.dia_semana"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fecha":{"name":"fecha","displayName":"fecha","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hora":{"name":"hora","displayName":"hora","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"potencia_activa":{"name":"potencia_activa","displayName":"potencia_activa","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"potencia_reactiva":{"name":"potencia_reactiva","displayName":"potencia_reactiva","identifiesControllerService":false,"sensitive":false,"dynamic":true},"alimentador":{"name":"alimentador","displayName":"alimentador","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dia_semana":{"name":"dia_semana","displayName":"dia_semana","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#fef0ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"bd1fa9c1-196a-3bd0-99a3-b78eb479ea54","instanceIdentifier":"16fe6c15-8ef1-3d74-055e-995e72aff871","name":"ReplaceText","comments":"","position":{"x":-280.0,"y":24.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"fecha\": \"${fecha:replaceNull(\"\")}\",\n  \"hora\": \"${hora:replaceNull(\"\")}\",\n  \"alimentador\": \"${alimentador:replaceNull(\"\")}\",\n  \"dia_semana\": ${dia_semana:replaceNull(\"0\")},\n  \"potencia_activa\": ${potencia_activa:replaceNull(\"0.0\")},\n  \"potencia_reactiva\": ${potencia_reactiva:replaceNull(\"0.0\")}\n}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":6,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4c59501d-3957-3eca-ad23-77eaca3aa797","instanceIdentifier":"147d3590-c977-3190-2364-6f9905496a25","name":"","source":{"id":"8f1dcea7-83e1-3c56-bdc7-0f2d75602930","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"LogAttribute","comments":"","instanceIdentifier":"63a983a7-a610-3e13-b838-543019509422"},"destination":{"id":"43099e79-dcd3-3262-9b67-12d4aa8d3233","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"320e5f6d-81dd-3239-136d-7eba23210396"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"27d3d6bf-a93d-32c5-b5a8-2e4ca534035a","instanceIdentifier":"68259087-0936-3c0b-1608-3fac2bab5baf","name":"","source":{"id":"c6811531-b28a-3018-b539-ae3456aa7873","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60712224-3e2d-3c64-2f64-b87157b6d2fe"},"destination":{"id":"7d0a2d1a-01b9-36e8-8157-4f730dc2a80b","type":"FUNNEL","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"Funnel","comments":"","instanceIdentifier":"f8b5bfdb-24f1-3687-9559-ab4a4b3fdad9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1048.0,"y":88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"91d53c47-55d8-3bf9-865b-b770f090b682","instanceIdentifier":"8f7c96d4-222d-326e-72bd-06769d40ed95","name":"","source":{"id":"43099e79-dcd3-3262-9b67-12d4aa8d3233","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"320e5f6d-81dd-3239-136d-7eba23210396"},"destination":{"id":"50a69f55-31a5-3c77-a747-02444c905da2","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"LogAttribute","comments":"","instanceIdentifier":"ccdfd5b9-c664-31da-add9-cd1f39065d7b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"2393b160-e149-3c56-987c-02226eaa4ccd","instanceIdentifier":"e27cacb7-56e8-3cea-d4d6-1ce4bb83db7a","name":"","source":{"id":"bd1fa9c1-196a-3bd0-99a3-b78eb479ea54","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"ReplaceText","comments":"","instanceIdentifier":"16fe6c15-8ef1-3d74-055e-995e72aff871"},"destination":{"id":"8f1dcea7-83e1-3c56-bdc7-0f2d75602930","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"LogAttribute","comments":"","instanceIdentifier":"63a983a7-a610-3e13-b838-543019509422"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"bd6a64ec-721b-3807-be94-7c5a019ba5ce","instanceIdentifier":"f2c27c62-92ca-3ff0-0a94-f29e14ce8c55","name":"","source":{"id":"733e874d-67da-34a2-824e-993e4270c5ce","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"LogAttribute","comments":"","instanceIdentifier":"6061a81c-6d27-31e6-c87d-1e4c4562bdee"},"destination":{"id":"c6811531-b28a-3018-b539-ae3456aa7873","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60712224-3e2d-3c64-2f64-b87157b6d2fe"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"3b31c699-8a71-3cf3-b123-5dadd1c1ac14","instanceIdentifier":"91bb9caa-2f68-3142-b0b5-82e0e77ffa6e","name":"","source":{"id":"c6811531-b28a-3018-b539-ae3456aa7873","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60712224-3e2d-3c64-2f64-b87157b6d2fe"},"destination":{"id":"bd1fa9c1-196a-3bd0-99a3-b78eb479ea54","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"ReplaceText","comments":"","instanceIdentifier":"16fe6c15-8ef1-3d74-055e-995e72aff871"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"44f52625-32b9-304d-8385-3a4e973a5ea8","instanceIdentifier":"4f7ace0d-dc3c-3673-c0e5-ad4cf923cc41","name":"","source":{"id":"c6811531-b28a-3018-b539-ae3456aa7873","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"60712224-3e2d-3c64-2f64-b87157b6d2fe"},"destination":{"id":"7d0a2d1a-01b9-36e8-8157-4f730dc2a80b","type":"FUNNEL","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"Funnel","comments":"","instanceIdentifier":"f8b5bfdb-24f1-3687-9559-ab4a4b3fdad9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"5c68d78e-2399-3637-b451-8eae0f50cf11","instanceIdentifier":"c46ba33c-e530-369f-39a6-9a1799a0b278","name":"","source":{"id":"bd1fa9c1-196a-3bd0-99a3-b78eb479ea54","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"ReplaceText","comments":"","instanceIdentifier":"16fe6c15-8ef1-3d74-055e-995e72aff871"},"destination":{"id":"b15365de-8eb6-3fca-9111-faaf11d67425","type":"FUNNEL","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"Funnel","comments":"","instanceIdentifier":"bba3658e-ed35-3663-ee7a-33a5af2fe328"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"6edf8382-4ccb-376c-a437-9ad153f9ccbc","instanceIdentifier":"f221e2b7-1b9f-350f-8ee8-5fa727e3c170","name":"","source":{"id":"50a69f55-31a5-3c77-a747-02444c905da2","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"LogAttribute","comments":"","instanceIdentifier":"ccdfd5b9-c664-31da-add9-cd1f39065d7b"},"destination":{"id":"700f6e97-f7d0-306e-b392-2f21ae2dc5d3","type":"FUNNEL","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"Funnel","comments":"","instanceIdentifier":"76c80454-36a3-376e-6845-f4127808afb0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"a9de5eff-6168-3ecd-ab63-d9238a64a187","instanceIdentifier":"88765327-049e-39d0-4ce4-80aba4c5821b","name":"","source":{"id":"43099e79-dcd3-3262-9b67-12d4aa8d3233","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"320e5f6d-81dd-3239-136d-7eba23210396"},"destination":{"id":"7d0a2d1a-01b9-36e8-8157-4f730dc2a80b","type":"FUNNEL","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"Funnel","comments":"","instanceIdentifier":"f8b5bfdb-24f1-3687-9559-ab4a4b3fdad9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"4cecdc2a-f827-3981-9147-bff718828bf8","instanceIdentifier":"88c0439d-fcd9-3cfe-2213-ae885f40e613","name":"","source":{"id":"b9f59ef6-0471-3c39-a612-e6d7da2a5f98","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"ConsumeKafka","comments":"","instanceIdentifier":"2367fbd3-7e63-397a-86ce-45406f9515f1"},"destination":{"id":"733e874d-67da-34a2-824e-993e4270c5ce","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"LogAttribute","comments":"","instanceIdentifier":"6061a81c-6d27-31e6-c87d-1e4c4562bdee"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":25000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"ae8101ab-fe01-38e3-b6e2-c4cbe30a1137","instanceIdentifier":"dd0859c0-67dd-3158-6045-97043f942661","name":"","source":{"id":"43099e79-dcd3-3262-9b67-12d4aa8d3233","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"320e5f6d-81dd-3239-136d-7eba23210396"},"destination":{"id":"700f6e97-f7d0-306e-b392-2f21ae2dc5d3","type":"FUNNEL","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"Funnel","comments":"","instanceIdentifier":"76c80454-36a3-376e-6845-f4127808afb0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":250000,"backPressureDataSizeThreshold":"25 GB","flowFileExpiration":"10 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"77e8315c-1d12-3cde-9718-8ec8ad106599","instanceIdentifier":"576994a4-a485-3a8e-985b-f1c34cc18ace","name":"","source":{"id":"43099e79-dcd3-3262-9b67-12d4aa8d3233","type":"PROCESSOR","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"320e5f6d-81dd-3239-136d-7eba23210396"},"destination":{"id":"700f6e97-f7d0-306e-b392-2f21ae2dc5d3","type":"FUNNEL","groupId":"f157ae52-f878-325a-b7fe-d21aa021733a","name":"Funnel","comments":"","instanceIdentifier":"76c80454-36a3-376e-6845-f4127808afb0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":168.0,"y":432.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"}],"labels":[{"identifier":"19e7bfb7-9e61-31d1-a520-c6a350aac843","instanceIdentifier":"aceb5a5e-adc6-3ffc-9180-d7e2d7259df5","position":{"x":-1224.0,"y":256.0},"label":"Extrae valores específicos de un flujo de datos JSON y los almacena como atributos\nDestination: flowfile-attribute, los valores extraídos se almacenan como atributos de archivo de flujo.\nReturn Type: auto-detect, detecta automáticamente el tipo de los valores extraídos.\nPath Not Found Behavior: ignore, ignora las rutas que no se encuentran.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.\nMax String Length: 20 MB, longitud máxima de las cadenas.\nalimentador: $.alimentador, expresión JsonPath para extraer el valor de \"alimentador\".\nid_subestacion: $.id_subestacion, expresión JsonPath para extraer el valor de \"id_subestacion\".","zIndex":0,"width":368.0,"height":240.0,"style":{"background-color":"#e6d8e8","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"c8191684-e58b-3685-84b1-caf5cdc5210e","instanceIdentifier":"c2fb7a4e-a5d8-3ff7-d6ce-bbec02fd3a11","position":{"x":-1232.0,"y":-296.0},"label":"Consume datos de un tema de Kafka, gestionando datos.\nControlador : Kafka3ConnectionService, para conectarse a Kafka.\nGroup ID: sube-alim-consumer-group, identifica el grupo de consumidores.\nTopic Format: names, formato para identificar los temas.\nTopics: sube-alim-data, el tema del que se consumen los datos.\nAuto Offset Reset: earliest, empieza desde el offset más antiguo si no hay un offset inicial.\nCommit Offsets: true, confirma automáticamente los desplazamientos.","zIndex":0,"width":392.0,"height":168.0,"style":{"background-color":"#b8b094","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"67b97944-c72f-3f3a-b18a-726937c620b4","instanceIdentifier":"83e1f139-e05c-3344-f05c-8b6d72d62db2","position":{"x":-1248.0,"y":864.0},"label":"Inserta datos JSON en una tabla específica de una base de datos PostgreSQL\nRecord Reader: JsonTreeReader, lee datos en formato JSON.\nDatabase Type: PostgreSQL, tipo de base de datos.\nStatement Type: INSERT, tipo de declaración para insertar datos.\nDatabase Connection Pooling Service: DBCPConnectionPool Base Datos Prueba, servicio de pool de conexiones antes configurado.\nSchema Name: public, el esquema de la base de datos.\nTable Name: sube_alim_processed, el nombre de la tabla donde se insertan los datos.","zIndex":0,"width":408.0,"height":168.0,"style":{"background-color":"#adffbe","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"a23c6358-a9f5-3122-9058-8777a921c398","instanceIdentifier":"d3f93dfe-25de-35f6-3b21-9cbd92666db1","position":{"x":1504.0,"y":-88.0},"label":"Toma un flujo de datos JSON y lo divide en fragmentos más pequeños, utilizando todas las claves del JSON y representando los valores nulos como cadenas vacías.\nJsonPath Expression: $. *, selecciona todas las claves del JSON.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.","zIndex":0,"width":328.0,"height":160.0,"style":{"background-color":"#b0d2e3","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"}],"funnels":[{"identifier":"700f6e97-f7d0-306e-b392-2f21ae2dc5d3","instanceIdentifier":"76c80454-36a3-376e-6845-f4127808afb0","position":{"x":-216.0,"y":616.0},"componentType":"FUNNEL","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"7d0a2d1a-01b9-36e8-8157-4f730dc2a80b","instanceIdentifier":"f8b5bfdb-24f1-3687-9559-ab4a4b3fdad9","position":{"x":1264.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"b15365de-8eb6-3fca-9111-faaf11d67425","instanceIdentifier":"bba3658e-ed35-3663-ee7a-33a5af2fe328","position":{"x":-640.0,"y":56.0},"componentType":"FUNNEL","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"}],"controllerServices":[{"identifier":"cc901ca9-d578-311a-b46f-cc8a23e91b87","instanceIdentifier":"867b3d60-c26c-303c-bbd7-dd101553cf80","name":"DBCPConnectionPool Base Datos Prueba","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"b5a3f0ac-dbdc-3a55-8b30-93a3c5151c9b","instanceIdentifier":"f7a21574-4105-3897-5368-42e300020982","name":"Kafka3ConnectionService V2","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"},{"identifier":"38800879-ec24-32cd-bdb0-4a249bb4ccfd","instanceIdentifier":"ac577812-5028-388c-c372-5e9da89eb764","name":"JsonTreeReader V2","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Potencia_dep\",\n  \"fields\": [\n    {\"name\": \"fecha\", \"type\": \"string\"},\n    {\"name\": \"hora\", \"type\": \"string\"},\n    {\"name\": \"alimentador\", \"type\": \"string\"},\n    {\"name\": \"dia_semana\", \"type\": [\"null\", \"int\"], \"default\": null},\n    {\"name\": \"potencia_activa\", \"type\": [\"null\", \"double\"], \"default\": null},\n    {\"name\": \"potencia_reactiva\", \"type\": [\"null\", \"double\"], \"default\": null}\n  ],\n  \"namespace\": \"org.apache.nifi.record.path\"\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f157ae52-f878-325a-b7fe-d21aa021733a"}],"defaultFlowFileExpiration":"10 min","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"85b21170-b790-3b83-9b88-d16b39fba3aa"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"ffd8c2d2-adcf-30e1-a2da-d4e80cf97366","instanceIdentifier":"ac5c5c3b-187f-31f6-8412-f50eb29761eb","position":{"x":48.0,"y":-448.0},"label":"Grupo que consume los datos publicados en Kafka mediante el tema : potencia-data, y el grupo creado llamado sube-alim-consumer-group , del cual maneja los valores en json para volverlos a insertar especificando las tablas y insertarlos en una nueva BD Prueba con la tabla potencia_dep_processed ","zIndex":0,"width":392.0,"height":160.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"85b21170-b790-3b83-9b88-d16b39fba3aa"},{"identifier":"a54d1b8b-8cc5-37cf-9bb4-8dce2ee3e690","instanceIdentifier":"887ba928-d4e9-385d-e723-bf70e8cfe964","position":{"x":-488.0,"y":-424.0},"label":"Grupo que Produce o obtiene de la BD la tabla potencia_dep con 221184 registros ,estos registros se transforman  de avro(que vienen de la BD) a json para un mejor manejo y estos datos se los publica a Kafka en el tema :potecia-data \n","zIndex":0,"width":392.0,"height":136.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"85b21170-b790-3b83-9b88-d16b39fba3aa"}],"funnels":[],"controllerServices":[{"identifier":"0d5e6fc4-e360-3ea7-a992-99dc1574dcdb","instanceIdentifier":"b138426c-11ab-3cde-2073-db3f8cb6a338","name":"DBCPConnectionPool","comments":"Función: Permite Conectarse a la BD (Docker)\nURL:jdbc:postgresql://postgres_centrosur:5432/centrosur\nNombre del Driver :org.postgresql.Driver\nUsuario de la BD: postgres\nContraseña de la BD: 1150040812","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/centrosur","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85b21170-b790-3b83-9b88-d16b39fba3aa"},{"identifier":"97f8153f-4dfa-3810-9932-beed5a11d0c5","instanceIdentifier":"982252d9-1d8d-3122-be71-aff7e7bf11ad","name":"AvroReader","comments":"Lee y deserializa datos en formato Avro desde archivos de flujo","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"100000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85b21170-b790-3b83-9b88-d16b39fba3aa"},{"identifier":"5b7694ba-b351-34e7-b897-d0045b52c820","instanceIdentifier":"0ef72b8f-8b2b-30db-e8ea-0dd8a49ad988","name":"JsonRecordSetWriter","comments":"Se utiliza para escribir datos en formato JSON desde archivos de flujo","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85b21170-b790-3b83-9b88-d16b39fba3aa"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}