Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-subealim.json
{"flowContents":{"identifier":"ad395521-151c-341a-b623-7f722090e3d1","instanceIdentifier":"c8c27e9b-0195-1000-130a-a322de967121","name":"Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-subealim","comments":"","position":{"x":-493.5,"y":-141.0666732788086},"processGroups":[{"identifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","instanceIdentifier":"5f30335b-0b2d-38c7-56df-e0af837daebf","name":"Grupo Productor","comments":"","position":{"x":-480.0,"y":-280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ae5ca1c0-a426-310f-9467-fa430aae4acd","instanceIdentifier":"8c41a4d7-f907-367a-5fd2-6ef8ea57d5d2","name":"PublishKafka","comments":"","position":{"x":-1192.0,"y":-232.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"compression.type":"snappy","acks":"0","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"sube-alim-data","Kafka Key":null,"partition":null,"Kafka Connection Service":"905a6e65-ce16-3f43-9286-680a8d664a2e","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ae8484"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"d488d545-b017-35b5-a267-fef5a2002c90","instanceIdentifier":"22046eb2-2306-3a7d-b4f9-4e0c14baac72","name":"LogAttribute","comments":"","position":{"x":-1176.0,"y":-512.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"5975514b-d33e-3dbf-9773-507b33b892dd","instanceIdentifier":"4e371b80-40d2-3db0-3d2c-858eb2748471","name":"LogAttribute","comments":"","position":{"x":-520.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"6b97eacb-3955-3d1d-883d-43e993ec9723","instanceIdentifier":"49cfb95c-9ce3-3cfc-b2d1-53322b5913de","name":"LogAttribute","comments":"","position":{"x":-512.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"43f8b29f-0195-1000-995e-a0393bd40439","instanceIdentifier":"0c9f373a-d024-31e0-6507-06cdd09686d9","name":"QueryDatabaseTable","comments":"","position":{"x":-1200.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Table Name":"sube_alim","db-fetch-db-type":"PostgreSQL","dbf-default-precision":"10","Set Auto Commit":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"9657eb2b-2cc1-34c8-a714-79367f82c0e1","Maximum-value Columns":null,"dbf-user-logical-types":"false","qdbt-output-batch-size":"0","qdbt-max-rows":"5000","qdbt-max-frags":"0","dbf-default-scale":"0","initial-load-strategy":"Start at Beginning","Fetch Size":"5000","db-fetch-sql-query":"SELECT id_subestacion, alimentador \nFROM sube_alim\nWHERE (id_subestacion BETWEEN 0 AND 999)\nAND CAST(EXTRACT(EPOCH FROM CURRENT_TIMESTAMP) AS INTEGER) > 0\nORDER BY id_subestacion","Columns to Return":null,"db-fetch-where-clause":null,"dbf-normalize":"false","transaction-isolation-level":null,"Database Dialect Service":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-output-batch-size":{"name":"qdbt-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-rows":{"name":"qdbt-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"qdbt-max-frags":{"name":"qdbt-max-frags","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"initial-load-strategy":{"name":"initial-load-strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-sql-query":{"name":"db-fetch-sql-query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"transaction-isolation-level":{"name":"transaction-isolation-level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#aedeea"},"schedulingPeriod":"120 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"acfd9526-d612-3dc3-8b05-afa96e680f6d","instanceIdentifier":"d182bc33-6e77-3854-5ff1-4dac01c124c7","name":"ConvertRecord","comments":"","position":{"x":-536.0,"y":-520.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"83ee5855-b764-3aba-949c-375233fc85f6","Record Reader":"844f7639-a825-3300-88bb-2f1ef1b7488e"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"edb4bcae-d5d7-3c1e-a430-c764fcd0863b","instanceIdentifier":"da3c24c2-2c5b-3fd1-28dd-28d8ecf5b827","name":"","source":{"id":"d488d545-b017-35b5-a267-fef5a2002c90","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"22046eb2-2306-3a7d-b4f9-4e0c14baac72"},"destination":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"PublishKafka","comments":"","instanceIdentifier":"8c41a4d7-f907-367a-5fd2-6ef8ea57d5d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"75a35078-ca5c-3def-850c-f90d66c9e76a","instanceIdentifier":"42f8934e-7af2-39e2-e0ff-8db121f90208","name":"","source":{"id":"acfd9526-d612-3dc3-8b05-afa96e680f6d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"ConvertRecord","comments":"","instanceIdentifier":"d182bc33-6e77-3854-5ff1-4dac01c124c7"},"destination":{"id":"d488d545-b017-35b5-a267-fef5a2002c90","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"22046eb2-2306-3a7d-b4f9-4e0c14baac72"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"89c09754-3128-3da0-80dc-529d31df7aa9","instanceIdentifier":"d7db9c96-864f-36ca-2959-304cd4b5356f","name":"","source":{"id":"acfd9526-d612-3dc3-8b05-afa96e680f6d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"ConvertRecord","comments":"","instanceIdentifier":"d182bc33-6e77-3854-5ff1-4dac01c124c7"},"destination":{"id":"50285acc-823f-3e30-bcaa-9f286fd9cc3d","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"925ab12d-0f68-3050-45b4-dc2d5038eb13"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"85f4f6fa-87bd-375e-889e-764f3b92b545","instanceIdentifier":"723a3709-dabb-3fae-b467-2892da95b9a6","name":"","source":{"id":"6b97eacb-3955-3d1d-883d-43e993ec9723","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"49cfb95c-9ce3-3cfc-b2d1-53322b5913de"},"destination":{"id":"acfd9526-d612-3dc3-8b05-afa96e680f6d","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"ConvertRecord","comments":"","instanceIdentifier":"d182bc33-6e77-3854-5ff1-4dac01c124c7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"2253f56b-17f8-3ddf-8d23-8c0d7bd3080a","instanceIdentifier":"4dcc0bed-9061-3a4c-e930-c375f77615eb","name":"","source":{"id":"43f8b29f-0195-1000-995e-a0393bd40439","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"0c9f373a-d024-31e0-6507-06cdd09686d9"},"destination":{"id":"6b97eacb-3955-3d1d-883d-43e993ec9723","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"49cfb95c-9ce3-3cfc-b2d1-53322b5913de"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"2cc6f07c-4c45-36f0-bda3-ff13b17b0baa","instanceIdentifier":"1dcc9759-f13d-38c3-9083-4e186d5f29c5","name":"","source":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"PublishKafka","comments":"","instanceIdentifier":"8c41a4d7-f907-367a-5fd2-6ef8ea57d5d2"},"destination":{"id":"65c21533-3c44-3fed-b772-a9f88a3db287","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"25f1c938-e72f-3529-cf61-1b0bb88660d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"1683f945-65c2-3d28-9d69-039b97b4579a","instanceIdentifier":"e9cb565f-d631-392c-cd11-e65aa719180f","name":"","source":{"id":"5975514b-d33e-3dbf-9773-507b33b892dd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"4e371b80-40d2-3db0-3d2c-858eb2748471"},"destination":{"id":"a9578d19-7138-3c9e-bd80-1c9a530908a1","type":"FUNNEL","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"Funnel","comments":"","instanceIdentifier":"a32028de-bc2c-3128-6ac3-0145d510454a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"31256786-1881-3b02-9109-ab0b9a28ec41","instanceIdentifier":"1f03f57d-f9b9-38ef-9f1b-d8511b663819","name":"","source":{"id":"ae5ca1c0-a426-310f-9467-fa430aae4acd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"PublishKafka","comments":"","instanceIdentifier":"8c41a4d7-f907-367a-5fd2-6ef8ea57d5d2"},"destination":{"id":"5975514b-d33e-3dbf-9773-507b33b892dd","type":"PROCESSOR","groupId":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e","name":"LogAttribute","comments":"","instanceIdentifier":"4e371b80-40d2-3db0-3d2c-858eb2748471"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"labels":[{"identifier":"47c13262-0195-1000-88d4-16df08f88192","instanceIdentifier":"2b2a543e-81b3-3590-1838-9bf65bb79c0e","position":{"x":-2136.0,"y":-480.0},"label":"Se utiliza este procesador convertir registros de un formato a otro con\nRecordReader:AvroReader, que lee datos en formato Avro.\nRecord Writer: JsonRecordSetWriter, que escribe datos en formato JSON.\nInclude Zero Record FlowFiles: true, lo que asegura que los archivos de flujo con cero registros se incluyan en la salida.\nEn si convierte datos de Avro a JSON,","zIndex":0,"width":424.0,"height":160.0,"style":{"background-color":"#d9a2dd","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"47c4c116-0195-1000-4fa7-9cf421e3656a","instanceIdentifier":"bd4219b7-96f8-3579-bfb5-e515b80f6fc2","position":{"x":-2040.0,"y":16.0},"label":"Envía datos comprimidos a un tema específico de Kafka, con una entrega de datos de mejor esfuerzo del cual tiene:\nControlador:Kafka3ConnectionService, que se usa para conectarse a Kafka.\nTopic Name: sube-alim-data, el nombre del tema al que se envían los datos.\nFailure Strategy: Route to Failure, redirige los fallos a una ruta específica.\nDelivery Guarantee: Best Effort, garantiza la entrega de datos al máximo posible sin usar transacciones.\nCompression Type: snappy, comprime los datos para envío.\n","zIndex":0,"width":440.0,"height":208.0,"style":{"background-color":"#8d5353","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"974d00d9-124b-32c9-a6e7-6bf773335dca","instanceIdentifier":"a42bb46a-a906-3150-c0a2-9e09d043213c","position":{"x":-2080.0,"y":-768.0},"label":"Se usa para consultar en la BD de la tabla sube_alim.\nSe realiza una consulta personalizada SELECT * FROM sube_alim para obtener los datos, de lo cual nos permite extraer información completa de una tabla específica","zIndex":0,"width":312.0,"height":120.0,"style":{"background-color":"#9dd8dd","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"funnels":[{"identifier":"50285acc-823f-3e30-bcaa-9f286fd9cc3d","instanceIdentifier":"925ab12d-0f68-3050-45b4-dc2d5038eb13","position":{"x":56.200143574999856,"y":-329.7050536530587},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"65c21533-3c44-3fed-b772-a9f88a3db287","instanceIdentifier":"25f1c938-e72f-3529-cf61-1b0bb88660d8","position":{"x":-1456.0,"y":-328.0},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"a9578d19-7138-3c9e-bd80-1c9a530908a1","instanceIdentifier":"a32028de-bc2c-3128-6ac3-0145d510454a","position":{"x":83.07020126008865,"y":-137.37200917031782},"componentType":"FUNNEL","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"controllerServices":[{"identifier":"755e08b1-0c42-3109-84bf-2ee550a4f241","instanceIdentifier":"61f98f04-d10c-3b98-9070-8faa02222d4d","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss.SSS","schema-inference-cache":null,"Date Format":"yyyy-MM-dd","schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":"HH:mm:ss","schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"844f7639-a825-3300-88bb-2f1ef1b7488e","instanceIdentifier":"7f882d80-8fa7-356d-831c-99093a252d83","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"83ee5855-b764-3aba-949c-375233fc85f6","instanceIdentifier":"c9cc0a19-06a1-3405-bb61-895e0a48255f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":"yyyy-MM-dd'T'HH:mm:ss.SSS","Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"9657eb2b-2cc1-34c8-a714-79367f82c0e1","instanceIdentifier":"bd0d7492-346a-3af7-c3cb-5df955e9c80d","name":"DBCPConnectionPool Sube_alim","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/centrosur","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"},{"identifier":"905a6e65-ce16-3f43-9286-680a8d664a2e","instanceIdentifier":"02391e89-c552-3de0-ad4e-6140e3c75ba6","name":"Kafka3ConnectionService","comments":"Este controlador Permite la conexción con kafka para el envio y la recepcion de datos con su conexión : \nkafka_centrosur:9092\nComo de igual forma su protocolo de seguridad que es un texto plano:\nSecurity Protocol\nPLAINTEXT","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1ac13d80-306b-3dd6-a4d1-795a4e1ce48e"}],"defaultFlowFileExpiration":"10 min","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ad395521-151c-341a-b623-7f722090e3d1"},{"identifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","instanceIdentifier":"15baf73a-d81e-397b-406d-cddefa26dc1c","name":"Grupo Consumidor","comments":"","position":{"x":48.0,"y":-280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f49145ee-33e1-3fa4-81c9-2f48b85bf48e","instanceIdentifier":"c27101c5-76ab-3e1b-04b8-d0f61911ced3","name":"LogAttribute","comments":"","position":{"x":824.0,"y":160.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"72f9b90e-0919-3aca-bedf-2cc5f062f565","instanceIdentifier":"9d8df72c-f6c3-3f50-1607-2b9a386ffa66","name":"LogAttribute","comments":"","position":{"x":840.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"3a91dca5-9c8d-3264-93a4-589f623cc61b","instanceIdentifier":"28c8c5ef-4956-352e-8e58-83cdf3e65e0a","name":"ConsumeKafka","comments":"","position":{"x":24.0,"y":-296.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.2.0"},"properties":{"Topics":"sube-alim-data","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"1 sec","Kafka Connection Service":"db2a0bb0-fd4a-3501-ba0c-1fb1549e26e3","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"sube-alim-consumer-group-1","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#cdcbb7"},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","instanceIdentifier":"c8c2f45b-631b-3d1a-a7bb-ef25aab43757","name":"EvaluateJsonPath","comments":"","position":{"x":0.0,"y":176.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Destination":"flowfile-attribute","id_subestacion":"$.id_subestacion","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","alimentador":"$.alimentador","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"id_subestacion":{"name":"id_subestacion","displayName":"id_subestacion","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alimentador":{"name":"alimentador","displayName":"alimentador","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fef0ff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"601ce0ed-66d0-35af-94b7-74f53541b867","instanceIdentifier":"1494cb2d-48cc-3bda-dd78-aa0fc0fae78d","name":"SplitJson","comments":"","position":{"x":816.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#bad9e3"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"49f49606-9f7e-3898-b4aa-2d935b729e62","instanceIdentifier":"673f3109-a09b-3624-9bcb-29e486b1f62d","name":"LogAttribute","comments":"","position":{"x":24.0,"y":664.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0","instanceIdentifier":"a695c1db-a340-3216-4050-7400ed45bbd6","name":"ReplaceText","comments":"","position":{"x":16.0,"y":424.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\"id_subestacion\": ${id_subestacion:toNumber()}, \"alimentador\": \"${alimentador}\"}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","instanceIdentifier":"209408b7-91c7-3058-b0ba-070fb49f2759","name":"PutDatabaseRecord","comments":"","position":{"x":728.0,"y":656.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"100","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"7b4beb08-8006-3f14-89a1-8d79170a70e8","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"sube_alim_processed","put-db-record-record-reader":"b2200125-c1e1-32ce-b152-14ba9efb25d0"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#c3ffc2"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8b477d33-ca50-3d6e-82ef-5d3ba60c458c","instanceIdentifier":"1ac85748-10f4-37ba-fc75-976e9ee944cd","name":"","source":{"id":"d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"ReplaceText","comments":"","instanceIdentifier":"a695c1db-a340-3216-4050-7400ed45bbd6"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"7636e023-8d5b-3abc-9387-29dcbe8c5bc8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"466bc30c-774b-3239-aecf-9eacf42442ed","instanceIdentifier":"4ea83946-ccd0-333e-8b4d-be5d70788c9c","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c8c2f45b-631b-3d1a-a7bb-ef25aab43757"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"7636e023-8d5b-3abc-9387-29dcbe8c5bc8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":760.0,"y":384.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"b9dd277b-09b5-3ad8-a0c5-b9d49eb88f86","instanceIdentifier":"fdec765f-29a0-3359-7287-99df2f0e7922","name":"","source":{"id":"601ce0ed-66d0-35af-94b7-74f53541b867","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"SplitJson","comments":"","instanceIdentifier":"1494cb2d-48cc-3bda-dd78-aa0fc0fae78d"},"destination":{"id":"f49145ee-33e1-3fa4-81c9-2f48b85bf48e","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"c27101c5-76ab-3e1b-04b8-d0f61911ced3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"49180e18-d8fe-3784-987c-4786565f7472","instanceIdentifier":"d2f78d49-b967-3e3a-6a3d-2387ef8131a1","name":"","source":{"id":"49f49606-9f7e-3898-b4aa-2d935b729e62","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"673f3109-a09b-3624-9bcb-29e486b1f62d"},"destination":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"209408b7-91c7-3058-b0ba-070fb49f2759"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"a46295e5-cb9e-34c9-9e0c-f2c6da87a345","instanceIdentifier":"55b03c9a-783e-3234-a008-3fc6e723ec52","name":"","source":{"id":"f49145ee-33e1-3fa4-81c9-2f48b85bf48e","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"c27101c5-76ab-3e1b-04b8-d0f61911ced3"},"destination":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c8c2f45b-631b-3d1a-a7bb-ef25aab43757"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"3f03287e-80ef-3317-b7e8-4acdc7a925a1","instanceIdentifier":"3724acc6-adcb-323c-46b2-34915d2c68af","name":"","source":{"id":"3a91dca5-9c8d-3264-93a4-589f623cc61b","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"ConsumeKafka","comments":"","instanceIdentifier":"28c8c5ef-4956-352e-8e58-83cdf3e65e0a"},"destination":{"id":"72f9b90e-0919-3aca-bedf-2cc5f062f565","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"9d8df72c-f6c3-3f50-1607-2b9a386ffa66"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"eb9085f5-d71c-3991-ba17-2edcc255b041","instanceIdentifier":"2e705de9-2b53-33e2-d36b-c655e12b5b87","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c8c2f45b-631b-3d1a-a7bb-ef25aab43757"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"7636e023-8d5b-3abc-9387-29dcbe8c5bc8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"82bb8ad3-97fc-363d-9ca9-e23d0d532249","instanceIdentifier":"0e9ea908-d093-3325-b7e4-4fe1dc8b3b64","name":"","source":{"id":"601ce0ed-66d0-35af-94b7-74f53541b867","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"SplitJson","comments":"","instanceIdentifier":"1494cb2d-48cc-3bda-dd78-aa0fc0fae78d"},"destination":{"id":"4a026335-d29b-3634-b12f-9e1e2cae2d5d","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"258fb6df-f114-3595-0ece-a7765bf71ad6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":504.0,"y":-88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"556ee4f8-6ddf-3908-8916-41c13ec3f951","instanceIdentifier":"f403830e-56b4-3a7f-6148-fb30015edce9","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"209408b7-91c7-3058-b0ba-070fb49f2759"},"destination":{"id":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"d8166558-0da1-3968-9fcf-809f1dac4d5b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"d98c6b67-0928-3964-bff3-56bac31a03f5","instanceIdentifier":"15965cd6-7f38-342a-9e16-001a8abff5ed","name":"","source":{"id":"6279a7a9-60ca-3743-8f42-42d1524dc5c8","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"c8c2f45b-631b-3d1a-a7bb-ef25aab43757"},"destination":{"id":"d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"ReplaceText","comments":"","instanceIdentifier":"a695c1db-a340-3216-4050-7400ed45bbd6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"ada9cc93-7f90-30fe-b8ca-cfbe40576ae8","instanceIdentifier":"12ed768c-8baf-3129-d344-47414a37bd0c","name":"","source":{"id":"601ce0ed-66d0-35af-94b7-74f53541b867","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"SplitJson","comments":"","instanceIdentifier":"1494cb2d-48cc-3bda-dd78-aa0fc0fae78d"},"destination":{"id":"4a026335-d29b-3634-b12f-9e1e2cae2d5d","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"258fb6df-f114-3595-0ece-a7765bf71ad6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"fae8c90a-f924-3367-a96a-171ea634a67f","instanceIdentifier":"285c7970-148d-3ef0-7e15-8e4bd0c7e92f","name":"","source":{"id":"72f9b90e-0919-3aca-bedf-2cc5f062f565","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"9d8df72c-f6c3-3f50-1607-2b9a386ffa66"},"destination":{"id":"601ce0ed-66d0-35af-94b7-74f53541b867","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"SplitJson","comments":"","instanceIdentifier":"1494cb2d-48cc-3bda-dd78-aa0fc0fae78d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"4e146a5f-ae73-3131-a585-aaaf98b070e4","instanceIdentifier":"d67ddc4a-09ba-3ed4-1207-35e5294bc34f","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"209408b7-91c7-3058-b0ba-070fb49f2759"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"7636e023-8d5b-3abc-9387-29dcbe8c5bc8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"05e7afb8-2155-3107-98d3-369d0686b559","instanceIdentifier":"1999fec5-2a9e-333b-167e-de1bf204e4d7","name":"","source":{"id":"d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"ReplaceText","comments":"","instanceIdentifier":"a695c1db-a340-3216-4050-7400ed45bbd6"},"destination":{"id":"49f49606-9f7e-3898-b4aa-2d935b729e62","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"LogAttribute","comments":"","instanceIdentifier":"673f3109-a09b-3624-9bcb-29e486b1f62d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"a48b446b-5e2f-30a7-8e71-3ad6cc2da535","instanceIdentifier":"a2923131-30a3-3b4a-d73e-9163ad25214c","name":"","source":{"id":"f5b11fb1-c240-3c6b-b32d-08b7e58d79a9","type":"PROCESSOR","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"209408b7-91c7-3058-b0ba-070fb49f2759"},"destination":{"id":"1253bdb1-7210-3300-afb6-6225dcb2442f","type":"FUNNEL","groupId":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0","name":"Funnel","comments":"","instanceIdentifier":"7636e023-8d5b-3abc-9387-29dcbe8c5bc8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":824.0,"y":520.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"labels":[{"identifier":"47d055e3-0195-1000-4e59-198128a7fda5","instanceIdentifier":"03b997ff-374c-315e-f056-1e305260c131","position":{"x":1408.0,"y":-256.0},"label":"Toma un flujo de datos JSON y lo divide en fragmentos más pequeños, utilizando todas las claves del JSON y representando los valores nulos como cadenas vacías.\nJsonPath Expression: $. *, selecciona todas las claves del JSON.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.","zIndex":0,"width":328.0,"height":160.0,"style":{"background-color":"#b0d2e3","font-size":"14px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"ca57e8d0-2617-37a4-b234-5d1d02b5a89f","instanceIdentifier":"a46d17e3-6550-3b48-b9c2-12ed6ef99102","position":{"x":-504.0,"y":640.0},"label":"Inserta datos JSON en una tabla específica de una base de datos PostgreSQL\nRecord Reader: JsonTreeReader, lee datos en formato JSON.\nDatabase Type: PostgreSQL, tipo de base de datos.\nStatement Type: INSERT, tipo de declaración para insertar datos.\nDatabase Connection Pooling Service: DBCPConnectionPool Base Datos Prueba, servicio de pool de conexiones antes configurado.\nSchema Name: public, el esquema de la base de datos.\nTable Name: sube_alim_processed, el nombre de la tabla donde se insertan los datos.","zIndex":0,"width":408.0,"height":168.0,"style":{"background-color":"#adffbe","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"ff325267-bc41-3203-bd1a-f8da2edf3854","instanceIdentifier":"f645c4b9-d561-371e-bdd2-e6ff4433aa5f","position":{"x":-384.0,"y":-312.0},"label":"Consume datos de un tema de Kafka, gestionando datos.\nControlador : Kafka3ConnectionService, para conectarse a Kafka.\nGroup ID: sube-alim-consumer-group, identifica el grupo de consumidores.\nTopic Format: names, formato para identificar los temas.\nTopics: sube-alim-data, el tema del que se consumen los datos.\nAuto Offset Reset: earliest, empieza desde el offset más antiguo si no hay un offset inicial.\nCommit Offsets: true, confirma automáticamente los desplazamientos.","zIndex":0,"width":392.0,"height":168.0,"style":{"background-color":"#b8b094","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"5f6ffb8e-40ce-3f9d-be7f-f6e9b4440793","instanceIdentifier":"cdc56629-1adc-3a45-5b54-db0e3ca0a73b","position":{"x":-472.0,"y":312.0},"label":"Extrae valores específicos de un flujo de datos JSON y los almacena como atributos\nDestination: flowfile-attribute, los valores extraídos se almacenan como atributos de archivo de flujo.\nReturn Type: auto-detect, detecta automáticamente el tipo de los valores extraídos.\nPath Not Found Behavior: ignore, ignora las rutas que no se encuentran.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.\nMax String Length: 20 MB, longitud máxima de las cadenas.\nalimentador: $.alimentador, expresión JsonPath para extraer el valor de \"alimentador\".\nid_subestacion: $.id_subestacion, expresión JsonPath para extraer el valor de \"id_subestacion\".","zIndex":0,"width":368.0,"height":240.0,"style":{"background-color":"#e6d8e8","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"funnels":[{"identifier":"4a026335-d29b-3634-b12f-9e1e2cae2d5d","instanceIdentifier":"258fb6df-f114-3595-0ece-a7765bf71ad6","position":{"x":264.0,"y":-40.0},"componentType":"FUNNEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"b32892ef-6741-3c48-8f2b-458b1f4b66d1","instanceIdentifier":"d8166558-0da1-3968-9fcf-809f1dac4d5b","position":{"x":1360.0,"y":768.0},"componentType":"FUNNEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"1253bdb1-7210-3300-afb6-6225dcb2442f","instanceIdentifier":"7636e023-8d5b-3abc-9387-29dcbe8c5bc8","position":{"x":1184.0,"y":360.0},"componentType":"FUNNEL","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"controllerServices":[{"identifier":"b2200125-c1e1-32ce-b152-14ba9efb25d0","instanceIdentifier":"fcbe5709-a2e7-3625-3b26-13155f022303","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.2.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"db2a0bb0-fd4a-3501-ba0c-1fb1549e26e3","instanceIdentifier":"a92ce99f-3c95-3b60-1ea9-b1ce98b74383","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.2.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka_centrosur:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"},{"identifier":"7b4beb08-8006-3f14-89a1-8d79170a70e8","instanceIdentifier":"852815ae-c1e5-34c2-428b-77a0ccc4e07a","name":"DBCPConnectionPool Base Datos Prueba","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.2.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres_centrosur:5432/base_prueba","dbcp-time-between-eviction-runs":"-1","Database User":"postgres","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.2.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0"}],"defaultFlowFileExpiration":"10 min","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"ad395521-151c-341a-b623-7f722090e3d1"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[{"identifier":"47ba41b8-0195-1000-e166-9f49d85fbaf6","instanceIdentifier":"2ce0f279-a334-3974-0ab0-7fa081f2054e","position":{"x":48.0,"y":-456.0},"label":"Grupo que consume los datos publicados en Kafka mediante el tema : sube-alim-data, y el grupo creado llamado sube-alim-consumer-group , del cual maneja los valores en json para volverlos a insertar especificando las tablas y insertarlos en una nueva BD Prueba con la tabla sube_alim_processed ","zIndex":0,"width":384.0,"height":160.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"ad395521-151c-341a-b623-7f722090e3d1"},{"identifier":"2beae133-c305-3e8b-810d-62f40f68496f","instanceIdentifier":"25c7a861-5115-350b-ae08-9fb4c50f2149","position":{"x":-480.0,"y":-400.0},"label":"Grupo que Produce o obtiene de la BD la tabla sube_alim con 87 registros ,estos registros se transforman  de avro(que vienen de la BD) a json para un mejor manejo y estos datos se los publica a Kafka en el tema :sube-alim-data \n","zIndex":0,"width":384.0,"height":112.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"ad395521-151c-341a-b623-7f722090e3d1"}],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}