flows/Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-subealim.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1742316810424,
    "description" : "Este Flow accede a la base de Datos CentroSur la cual abstrae los 87 registros de la tabla sube_Alim y procesa estos datos para mandar a un topic en Kafka llamado sube-alim-data el cual permite almacenar los mensajes o los datos enviados por el grupo procesador para que el grupo consumidor pueda consumir estos datos para tratarlos y guardarlos en la Base de Datos base_prueba en la tabla sube_alim_processed",
    "identifier" : "Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-subealim",
    "lastModifiedTimestamp" : 1742316810424,
    "name" : "Comunicacion de todos los servicios Nifi-Kakfa tabla sube_alim",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 160.0,
      "identifier" : "47ba41b8-0195-1000-e166-9f49d85fbaf6",
      "label" : "Grupo que consume los datos publicados en Kafka mediante el tema : sube-alim-data, y el grupo creado llamado sube-alim-consumer-group , del cual maneja los valores en json para volverlos a insertar especificando las tablas y insertarlos en una nueva BD Prueba con la tabla sube_alim_processed ",
      "position" : {
        "x" : 48.0,
        "y" : -456.0
      },
      "style" : {
        "font-size" : "16px"
      },
      "width" : 384.0,
      "zIndex" : 0
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 112.0,
      "identifier" : "2beae133-c305-3e8b-810d-62f40f68496f",
      "label" : "Grupo que Produce o obtiene de la BD la tabla sube_alim con 87 registros ,estos registros se transforman  de avro(que vienen de la BD) a json para un mejor manejo y estos datos se los publica a Kafka en el tema :sube-alim-data \n",
      "position" : {
        "x" : -480.0,
        "y" : -400.0
      },
      "style" : {
        "font-size" : "16px"
      },
      "width" : 384.0,
      "zIndex" : 0
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "Comunicacion-Nifi-y-Kafka-sube_alim",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "ae5ca1c0-a426-310f-9467-fa430aae4acd",
          "name" : "PublishKafka",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "edb4bcae-d5d7-3c1e-a430-c764fcd0863b",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "d488d545-b017-35b5-a267-fef5a2002c90",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "d488d545-b017-35b5-a267-fef5a2002c90",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "75a35078-ca5c-3def-850c-f90d66c9e76a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "acfd9526-d612-3dc3-8b05-afa96e680f6d",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "50285acc-823f-3e30-bcaa-9f286fd9cc3d",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "89c09754-3128-3da0-80dc-529d31df7aa9",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "acfd9526-d612-3dc3-8b05-afa96e680f6d",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "acfd9526-d612-3dc3-8b05-afa96e680f6d",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "85f4f6fa-87bd-375e-889e-764f3b92b545",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "6b97eacb-3955-3d1d-883d-43e993ec9723",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "6b97eacb-3955-3d1d-883d-43e993ec9723",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "2253f56b-17f8-3ddf-8d23-8c0d7bd3080a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "43f8b29f-0195-1000-995e-a0393bd40439",
          "name" : "QueryDatabaseTable",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "65c21533-3c44-3fed-b772-a9f88a3db287",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "2cc6f07c-4c45-36f0-bda3-ff13b17b0baa",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "ae5ca1c0-a426-310f-9467-fa430aae4acd",
          "name" : "PublishKafka",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "a9578d19-7138-3c9e-bd80-1c9a530908a1",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "1683f945-65c2-3d28-9d69-039b97b4579a",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "5975514b-d33e-3dbf-9773-507b33b892dd",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "5975514b-d33e-3dbf-9773-507b33b892dd",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "31256786-1881-3b02-9109-ab0b9a28ec41",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
          "id" : "ae5ca1c0-a426-310f-9467-fa430aae4acd",
          "name" : "PublishKafka",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "type" : "org.apache.nifi.serialization.RecordReaderFactory"
        } ],
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "755e08b1-0c42-3109-84bf-2ee550a4f241",
        "name" : "JsonTreeReader",
        "properties" : {
          "Max String Length" : "20 MB",
          "schema-application-strategy" : "SELECTED_PART",
          "Timestamp Format" : "yyyy-MM-dd'T'HH:mm:ss.SSS",
          "Date Format" : "yyyy-MM-dd",
          "schema-name" : "${schema.name}",
          "starting-field-strategy" : "ROOT_NODE",
          "Time Format" : "HH:mm:ss",
          "schema-access-strategy" : "infer-schema",
          "schema-text" : "${avro.schema}",
          "Allow Comments" : "false"
        },
        "propertyDescriptors" : {
          "schema-reference-reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-reference-reader",
            "sensitive" : false
          },
          "schema-branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-branch",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "schema-application-strategy" : {
            "displayName" : "Schema Application Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-application-strategy",
            "sensitive" : false
          },
          "Timestamp Format" : {
            "displayName" : "Timestamp Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Timestamp Format",
            "sensitive" : false
          },
          "schema-inference-cache" : {
            "displayName" : "Schema Inference Cache",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-inference-cache",
            "sensitive" : false
          },
          "Date Format" : {
            "displayName" : "Date Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Date Format",
            "sensitive" : false
          },
          "schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-name",
            "sensitive" : false
          },
          "starting-field-strategy" : {
            "displayName" : "Starting Field Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "starting-field-strategy",
            "sensitive" : false
          },
          "schema-registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-registry",
            "sensitive" : false
          },
          "starting-field-name" : {
            "displayName" : "Starting Field Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "starting-field-name",
            "sensitive" : false
          },
          "Time Format" : {
            "displayName" : "Time Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Format",
            "sensitive" : false
          },
          "schema-access-strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-access-strategy",
            "sensitive" : false
          },
          "schema-version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-version",
            "sensitive" : false
          },
          "schema-text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-text",
            "sensitive" : false
          },
          "Allow Comments" : {
            "displayName" : "Allow Comments",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Allow Comments",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.json.JsonTreeReader"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "type" : "org.apache.nifi.serialization.RecordReaderFactory"
        } ],
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "844f7639-a825-3300-88bb-2f1ef1b7488e",
        "name" : "AvroReader",
        "properties" : {
          "schema-name" : "${schema.name}",
          "cache-size" : "1000",
          "schema-access-strategy" : "embedded-avro-schema",
          "schema-text" : "${avro.schema}"
        },
        "propertyDescriptors" : {
          "schema-reference-reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-reference-reader",
            "sensitive" : false
          },
          "schema-branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-branch",
            "sensitive" : false
          },
          "schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-name",
            "sensitive" : false
          },
          "cache-size" : {
            "displayName" : "Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "cache-size",
            "sensitive" : false
          },
          "schema-registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-registry",
            "sensitive" : false
          },
          "schema-access-strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-access-strategy",
            "sensitive" : false
          },
          "schema-version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-version",
            "sensitive" : false
          },
          "schema-text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-text",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.avro.AvroReader"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
        } ],
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "83ee5855-b764-3aba-949c-375233fc85f6",
        "name" : "JsonRecordSetWriter",
        "properties" : {
          "Allow Scientific Notation" : "false",
          "compression-level" : "1",
          "Timestamp Format" : "yyyy-MM-dd'T'HH:mm:ss.SSS",
          "Pretty Print JSON" : "false",
          "compression-format" : "none",
          "Schema Write Strategy" : "no-schema",
          "suppress-nulls" : "never-suppress",
          "output-grouping" : "output-array",
          "schema-name" : "${schema.name}",
          "schema-access-strategy" : "inherit-record-schema",
          "schema-text" : "${avro.schema}"
        },
        "propertyDescriptors" : {
          "schema-reference-reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-reference-reader",
            "sensitive" : false
          },
          "schema-branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-branch",
            "sensitive" : false
          },
          "Allow Scientific Notation" : {
            "displayName" : "Allow Scientific Notation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Allow Scientific Notation",
            "sensitive" : false
          },
          "compression-level" : {
            "displayName" : "Compression Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression-level",
            "sensitive" : false
          },
          "schema-cache" : {
            "displayName" : "Schema Cache",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-cache",
            "sensitive" : false
          },
          "Timestamp Format" : {
            "displayName" : "Timestamp Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Timestamp Format",
            "sensitive" : false
          },
          "Date Format" : {
            "displayName" : "Date Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Date Format",
            "sensitive" : false
          },
          "Pretty Print JSON" : {
            "displayName" : "Pretty Print JSON",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pretty Print JSON",
            "sensitive" : false
          },
          "compression-format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression-format",
            "sensitive" : false
          },
          "Schema Write Strategy" : {
            "displayName" : "Schema Write Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Write Strategy",
            "sensitive" : false
          },
          "suppress-nulls" : {
            "displayName" : "Suppress Null Values",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "suppress-nulls",
            "sensitive" : false
          },
          "output-grouping" : {
            "displayName" : "Output Grouping",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "output-grouping",
            "sensitive" : false
          },
          "schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-name",
            "sensitive" : false
          },
          "schema-registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-registry",
            "sensitive" : false
          },
          "Time Format" : {
            "displayName" : "Time Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Format",
            "sensitive" : false
          },
          "schema-access-strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-access-strategy",
            "sensitive" : false
          },
          "schema-version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-version",
            "sensitive" : false
          },
          "schema-text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-text",
            "sensitive" : false
          },
          "Schema Reference Writer" : {
            "displayName" : "Schema Reference Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Reference Writer",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.json.JsonRecordSetWriter"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-dbcp-service-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "type" : "org.apache.nifi.dbcp.DBCPService"
        } ],
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "9657eb2b-2cc1-34c8-a714-79367f82c0e1",
        "name" : "DBCPConnectionPool Sube_alim",
        "properties" : {
          "dbcp-min-idle-conns" : "0",
          "Max Wait Time" : "500 millis",
          "Database Driver Class Name" : "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time" : "30 mins",
          "Max Total Connections" : "8",
          "dbcp-max-conn-lifetime" : "-1",
          "Database Connection URL" : "jdbc:postgresql://postgres_centrosur:5432/centrosur",
          "dbcp-time-between-eviction-runs" : "-1",
          "Database User" : "postgres",
          "dbcp-soft-min-evictable-idle-time" : "-1",
          "database-driver-locations" : "/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar",
          "dbcp-max-idle-conns" : "8"
        },
        "propertyDescriptors" : {
          "dbcp-min-idle-conns" : {
            "displayName" : "Minimum Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-min-idle-conns",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "Database Driver Class Name" : {
            "displayName" : "Database Driver Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Driver Class Name",
            "sensitive" : false
          },
          "dbcp-min-evictable-idle-time" : {
            "displayName" : "Minimum Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-min-evictable-idle-time",
            "sensitive" : false
          },
          "Max Total Connections" : {
            "displayName" : "Max Total Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Total Connections",
            "sensitive" : false
          },
          "dbcp-max-conn-lifetime" : {
            "displayName" : "Max Connection Lifetime",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-max-conn-lifetime",
            "sensitive" : false
          },
          "Validation-query" : {
            "displayName" : "Validation query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Validation-query",
            "sensitive" : false
          },
          "Database Connection URL" : {
            "displayName" : "Database Connection URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Connection URL",
            "sensitive" : false
          },
          "dbcp-time-between-eviction-runs" : {
            "displayName" : "Time Between Eviction Runs",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-time-between-eviction-runs",
            "sensitive" : false
          },
          "Database User" : {
            "displayName" : "Database User",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database User",
            "sensitive" : false
          },
          "kerberos-user-service" : {
            "displayName" : "Kerberos User Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "kerberos-user-service",
            "sensitive" : false
          },
          "dbcp-soft-min-evictable-idle-time" : {
            "displayName" : "Soft Minimum Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-soft-min-evictable-idle-time",
            "sensitive" : false
          },
          "database-driver-locations" : {
            "displayName" : "Database Driver Location(s)",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "database-driver-locations",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "URL", "FILE", "DIRECTORY" ]
            },
            "sensitive" : false
          },
          "dbcp-max-idle-conns" : {
            "displayName" : "Max Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-max-idle-conns",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-kafka-3-service-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "Este controlador Permite la conexción con kafka para el envio y la recepcion de datos con su conexión : \nkafka_centrosur:9092\nComo de igual forma su protocolo de seguridad que es un texto plano:\nSecurity Protocol\nPLAINTEXT",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-kafka-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "type" : "org.apache.nifi.kafka.service.api.KafkaConnectionService"
        } ],
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "905a6e65-ce16-3f43-9286-680a8d664a2e",
        "name" : "Kafka3ConnectionService",
        "properties" : {
          "security.protocol" : "PLAINTEXT",
          "ack.wait.time" : "5 sec",
          "max.poll.records" : "10000",
          "sasl.mechanism" : "GSSAPI",
          "isolation.level" : "read_committed",
          "max.block.ms" : "5 sec",
          "bootstrap.servers" : "kafka_centrosur:9092",
          "default.api.timeout.ms" : "60 sec"
        },
        "propertyDescriptors" : {
          "ack.wait.time" : {
            "displayName" : "Acknowledgment Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "ack.wait.time",
            "sensitive" : false
          },
          "sasl.username" : {
            "displayName" : "SASL Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.username",
            "sensitive" : false
          },
          "max.poll.records" : {
            "displayName" : "Max Poll Records",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.poll.records",
            "sensitive" : false
          },
          "bootstrap.servers" : {
            "displayName" : "Bootstrap Servers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "bootstrap.servers",
            "sensitive" : false
          },
          "sasl.kerberos.service.name" : {
            "displayName" : "Kerberos Service Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.kerberos.service.name",
            "sensitive" : false
          },
          "security.protocol" : {
            "displayName" : "Security Protocol",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "security.protocol",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "sasl.mechanism" : {
            "displayName" : "SASL Mechanism",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.mechanism",
            "sensitive" : false
          },
          "isolation.level" : {
            "displayName" : "Transaction Isolation Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "isolation.level",
            "sensitive" : false
          },
          "max.block.ms" : {
            "displayName" : "Max Metadata Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.block.ms",
            "sensitive" : false
          },
          "kerberos-user-service" : {
            "displayName" : "Kerberos User Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "kerberos-user-service",
            "sensitive" : false
          },
          "sasl.password" : {
            "displayName" : "SASL Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.password",
            "sensitive" : true
          },
          "default.api.timeout.ms" : {
            "displayName" : "Client Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "default.api.timeout.ms",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.kafka.service.Kafka3ConnectionService"
      } ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "50285acc-823f-3e30-bcaa-9f286fd9cc3d",
        "position" : {
          "x" : 56.200143574999856,
          "y" : -329.7050536530587
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "65c21533-3c44-3fed-b772-a9f88a3db287",
        "position" : {
          "x" : -1456.0,
          "y" : -328.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "a9578d19-7138-3c9e-bd80-1c9a530908a1",
        "position" : {
          "x" : 83.07020126008865,
          "y" : -137.37200917031782
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
      "inputPorts" : [ ],
      "labels" : [ {
        "componentType" : "LABEL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "height" : 160.0,
        "identifier" : "47c13262-0195-1000-88d4-16df08f88192",
        "label" : "Se utiliza este procesador convertir registros de un formato a otro con\nRecordReader:AvroReader, que lee datos en formato Avro.\nRecord Writer: JsonRecordSetWriter, que escribe datos en formato JSON.\nInclude Zero Record FlowFiles: true, lo que asegura que los archivos de flujo con cero registros se incluyan en la salida.\nEn si convierte datos de Avro a JSON,",
        "position" : {
          "x" : -2136.0,
          "y" : -480.0
        },
        "style" : {
          "background-color" : "#d9a2dd",
          "font-size" : "14px"
        },
        "width" : 424.0,
        "zIndex" : 0
      }, {
        "componentType" : "LABEL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "height" : 208.0,
        "identifier" : "47c4c116-0195-1000-4fa7-9cf421e3656a",
        "label" : "Envía datos comprimidos a un tema específico de Kafka, con una entrega de datos de mejor esfuerzo del cual tiene:\nControlador:Kafka3ConnectionService, que se usa para conectarse a Kafka.\nTopic Name: sube-alim-data, el nombre del tema al que se envían los datos.\nFailure Strategy: Route to Failure, redirige los fallos a una ruta específica.\nDelivery Guarantee: Best Effort, garantiza la entrega de datos al máximo posible sin usar transacciones.\nCompression Type: snappy, comprime los datos para envío.\n",
        "position" : {
          "x" : -2040.0,
          "y" : 16.0
        },
        "style" : {
          "background-color" : "#8d5353",
          "font-size" : "14px"
        },
        "width" : 440.0,
        "zIndex" : 0
      }, {
        "componentType" : "LABEL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "height" : 120.0,
        "identifier" : "974d00d9-124b-32c9-a6e7-6bf773335dca",
        "label" : "Se usa para consultar en la BD de la tabla sube_alim.\nSe realiza una consulta personalizada SELECT * FROM sube_alim para obtener los datos, de lo cual nos permite extraer información completa de una tabla específica",
        "position" : {
          "x" : -2080.0,
          "y" : -768.0
        },
        "style" : {
          "background-color" : "#9dd8dd",
          "font-size" : "14px"
        },
        "width" : 312.0,
        "zIndex" : 0
      } ],
      "maxConcurrentTasks" : 1,
      "name" : "Grupo Productor",
      "outputPorts" : [ ],
      "position" : {
        "x" : -480.0,
        "y" : -280.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-kafka-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "ae5ca1c0-a426-310f-9467-fa430aae4acd",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PublishKafka",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1192.0,
          "y" : -232.0
        },
        "properties" : {
          "compression.type" : "snappy",
          "acks" : "0",
          "Kafka Key Attribute Encoding" : "utf-8",
          "Record Metadata Strategy" : "FROM_PROPERTIES",
          "Header Encoding" : "UTF-8",
          "max.request.size" : "1 MB",
          "Topic Name" : "sube-alim-data",
          "Kafka Connection Service" : "905a6e65-ce16-3f43-9286-680a8d664a2e",
          "Publish Strategy" : "USE_VALUE",
          "Failure Strategy" : "Route to Failure",
          "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "Transactions Enabled" : "false"
        },
        "propertyDescriptors" : {
          "compression.type" : {
            "displayName" : "Compression Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression.type",
            "sensitive" : false
          },
          "acks" : {
            "displayName" : "Delivery Guarantee",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "acks",
            "sensitive" : false
          },
          "Message Demarcator" : {
            "displayName" : "Message Demarcator",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Demarcator",
            "sensitive" : false
          },
          "Kafka Key Attribute Encoding" : {
            "displayName" : "Kafka Key Attribute Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Kafka Key Attribute Encoding",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Record Metadata Strategy" : {
            "displayName" : "Record Metadata Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Metadata Strategy",
            "sensitive" : false
          },
          "Transactional ID Prefix" : {
            "displayName" : "Transactional ID Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transactional ID Prefix",
            "sensitive" : false
          },
          "Header Encoding" : {
            "displayName" : "Header Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Header Encoding",
            "sensitive" : false
          },
          "max.request.size" : {
            "displayName" : "Max Request Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.request.size",
            "sensitive" : false
          },
          "Topic Name" : {
            "displayName" : "Topic Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Topic Name",
            "sensitive" : false
          },
          "Kafka Key" : {
            "displayName" : "Kafka Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Kafka Key",
            "sensitive" : false
          },
          "partition" : {
            "displayName" : "Partition",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "partition",
            "sensitive" : false
          },
          "Kafka Connection Service" : {
            "displayName" : "Kafka Connection Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Kafka Connection Service",
            "sensitive" : false
          },
          "Publish Strategy" : {
            "displayName" : "Publish Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Publish Strategy",
            "sensitive" : false
          },
          "Record Key Writer" : {
            "displayName" : "Record Key Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Key Writer",
            "sensitive" : false
          },
          "Failure Strategy" : {
            "displayName" : "Failure Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Failure Strategy",
            "sensitive" : false
          },
          "partitioner.class" : {
            "displayName" : "Partitioner Class",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "partitioner.class",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Transactions Enabled" : {
            "displayName" : "Transactions Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transactions Enabled",
            "sensitive" : false
          },
          "Message Key Field" : {
            "displayName" : "Message Key Field",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Key Field",
            "sensitive" : false
          },
          "FlowFile Attribute Header Pattern" : {
            "displayName" : "FlowFile Attribute Header Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "FlowFile Attribute Header Pattern",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#ae8484"
        },
        "type" : "org.apache.nifi.kafka.processors.PublishKafka",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "d488d545-b017-35b5-a267-fef5a2002c90",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1176.0,
          "y" : -512.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "5975514b-d33e-3dbf-9773-507b33b892dd",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -520.0,
          "y" : -232.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "6b97eacb-3955-3d1d-883d-43e993ec9723",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -512.0,
          "y" : -760.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "PRIMARY",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "43f8b29f-0195-1000-995e-a0393bd40439",
        "maxBackoffPeriod" : "10 mins",
        "name" : "QueryDatabaseTable",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1200.0,
          "y" : -760.0
        },
        "properties" : {
          "Table Name" : "sube_alim",
          "db-fetch-db-type" : "PostgreSQL",
          "dbf-default-precision" : "10",
          "Max Wait Time" : "0 seconds",
          "Database Connection Pooling Service" : "9657eb2b-2cc1-34c8-a714-79367f82c0e1",
          "dbf-user-logical-types" : "false",
          "qdbt-output-batch-size" : "0",
          "qdbt-max-rows" : "5000",
          "qdbt-max-frags" : "0",
          "dbf-default-scale" : "0",
          "initial-load-strategy" : "Start at Beginning",
          "Fetch Size" : "5000",
          "db-fetch-sql-query" : "SELECT id_subestacion, alimentador \nFROM sube_alim\nWHERE (id_subestacion BETWEEN 0 AND 999)\nAND CAST(EXTRACT(EPOCH FROM CURRENT_TIMESTAMP) AS INTEGER) > 0\nORDER BY id_subestacion",
          "dbf-normalize" : "false"
        },
        "propertyDescriptors" : {
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "db-fetch-db-type" : {
            "displayName" : "Database Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "db-fetch-db-type",
            "sensitive" : false
          },
          "dbf-default-precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-precision",
            "sensitive" : false
          },
          "Set Auto Commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Set Auto Commit",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Maximum-value Columns" : {
            "displayName" : "Maximum-value Columns",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum-value Columns",
            "sensitive" : false
          },
          "dbf-user-logical-types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-user-logical-types",
            "sensitive" : false
          },
          "qdbt-output-batch-size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "qdbt-output-batch-size",
            "sensitive" : false
          },
          "qdbt-max-rows" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "qdbt-max-rows",
            "sensitive" : false
          },
          "qdbt-max-frags" : {
            "displayName" : "Maximum Number of Fragments",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "qdbt-max-frags",
            "sensitive" : false
          },
          "dbf-default-scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-scale",
            "sensitive" : false
          },
          "initial-load-strategy" : {
            "displayName" : "Initial Load Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "initial-load-strategy",
            "sensitive" : false
          },
          "Fetch Size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fetch Size",
            "sensitive" : false
          },
          "db-fetch-sql-query" : {
            "displayName" : "Custom Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "db-fetch-sql-query",
            "sensitive" : false
          },
          "Columns to Return" : {
            "displayName" : "Columns to Return",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Columns to Return",
            "sensitive" : false
          },
          "db-fetch-where-clause" : {
            "displayName" : "Additional WHERE clause",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "db-fetch-where-clause",
            "sensitive" : false
          },
          "dbf-normalize" : {
            "displayName" : "Normalize Table/Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-normalize",
            "sensitive" : false
          },
          "transaction-isolation-level" : {
            "displayName" : "Transaction Isolation Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "transaction-isolation-level",
            "sensitive" : false
          },
          "Database Dialect Service" : {
            "displayName" : "Database Dialect Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Dialect Service",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "5 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#aedeea"
        },
        "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "1ac13d80-306b-3dd6-a4d1-795a4e1ce48e",
        "identifier" : "acfd9526-d612-3dc3-8b05-afa96e680f6d",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ConvertRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -536.0,
          "y" : -520.0
        },
        "properties" : {
          "Include Zero Record FlowFiles" : "true",
          "Record Writer" : "83ee5855-b764-3aba-949c-375233fc85f6",
          "Record Reader" : "844f7639-a825-3300-88bb-2f1ef1b7488e"
        },
        "propertyDescriptors" : {
          "Include Zero Record FlowFiles" : {
            "displayName" : "Include Zero Record FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Zero Record FlowFiles",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "1253bdb1-7210-3300-afb6-6225dcb2442f",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "8b477d33-ca50-3d6e-82ef-5d3ba60c458c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 760.0,
          "y" : 384.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "1253bdb1-7210-3300-afb6-6225dcb2442f",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "466bc30c-774b-3239-aecf-9eacf42442ed",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "6279a7a9-60ca-3743-8f42-42d1524dc5c8",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "f49145ee-33e1-3fa4-81c9-2f48b85bf48e",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "b9dd277b-09b5-3ad8-a0c5-b9d49eb88f86",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "601ce0ed-66d0-35af-94b7-74f53541b867",
          "name" : "SplitJson",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "f5b11fb1-c240-3c6b-b32d-08b7e58d79a9",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "49180e18-d8fe-3784-987c-4786565f7472",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "49f49606-9f7e-3898-b4aa-2d935b729e62",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "6279a7a9-60ca-3743-8f42-42d1524dc5c8",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "a46295e5-cb9e-34c9-9e0c-f2c6da87a345",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "f49145ee-33e1-3fa4-81c9-2f48b85bf48e",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "72f9b90e-0919-3aca-bedf-2cc5f062f565",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "3f03287e-80ef-3317-b7e8-4acdc7a925a1",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "3a91dca5-9c8d-3264-93a4-589f623cc61b",
          "name" : "ConsumeKafka",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "1253bdb1-7210-3300-afb6-6225dcb2442f",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "eb9085f5-d71c-3991-ba17-2edcc255b041",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "6279a7a9-60ca-3743-8f42-42d1524dc5c8",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 504.0,
          "y" : -88.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "4a026335-d29b-3634-b12f-9e1e2cae2d5d",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "82bb8ad3-97fc-363d-9ca9-e23d0d532249",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "original" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "601ce0ed-66d0-35af-94b7-74f53541b867",
          "name" : "SplitJson",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "b32892ef-6741-3c48-8f2b-458b1f4b66d1",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "556ee4f8-6ddf-3908-8916-41c13ec3f951",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "f5b11fb1-c240-3c6b-b32d-08b7e58d79a9",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "d98c6b67-0928-3964-bff3-56bac31a03f5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "6279a7a9-60ca-3743-8f42-42d1524dc5c8",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "4a026335-d29b-3634-b12f-9e1e2cae2d5d",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "ada9cc93-7f90-30fe-b8ca-cfbe40576ae8",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "601ce0ed-66d0-35af-94b7-74f53541b867",
          "name" : "SplitJson",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "601ce0ed-66d0-35af-94b7-74f53541b867",
          "name" : "SplitJson",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "fae8c90a-f924-3367-a96a-171ea634a67f",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "72f9b90e-0919-3aca-bedf-2cc5f062f565",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "1253bdb1-7210-3300-afb6-6225dcb2442f",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "4e146a5f-ae73-3131-a585-aaaf98b070e4",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "retry" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "f5b11fb1-c240-3c6b-b32d-08b7e58d79a9",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "49f49606-9f7e-3898-b4aa-2d935b729e62",
          "name" : "LogAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "05e7afb8-2155-3107-98d3-369d0686b559",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0",
          "name" : "ReplaceText",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 824.0,
          "y" : 520.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "1253bdb1-7210-3300-afb6-6225dcb2442f",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "a48b446b-5e2f-30a7-8e71-3ad6cc2da535",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
          "id" : "f5b11fb1-c240-3c6b-b32d-08b7e58d79a9",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "type" : "org.apache.nifi.serialization.RecordReaderFactory"
        } ],
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "b2200125-c1e1-32ce-b152-14ba9efb25d0",
        "name" : "JsonTreeReader",
        "properties" : {
          "Max String Length" : "20 MB",
          "schema-application-strategy" : "SELECTED_PART",
          "schema-name" : "${schema.name}",
          "starting-field-strategy" : "ROOT_NODE",
          "schema-access-strategy" : "infer-schema",
          "schema-text" : "${avro.schema}",
          "Allow Comments" : "false"
        },
        "propertyDescriptors" : {
          "schema-reference-reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-reference-reader",
            "sensitive" : false
          },
          "schema-branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-branch",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "schema-application-strategy" : {
            "displayName" : "Schema Application Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-application-strategy",
            "sensitive" : false
          },
          "Timestamp Format" : {
            "displayName" : "Timestamp Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Timestamp Format",
            "sensitive" : false
          },
          "schema-inference-cache" : {
            "displayName" : "Schema Inference Cache",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-inference-cache",
            "sensitive" : false
          },
          "Date Format" : {
            "displayName" : "Date Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Date Format",
            "sensitive" : false
          },
          "schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-name",
            "sensitive" : false
          },
          "starting-field-strategy" : {
            "displayName" : "Starting Field Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "starting-field-strategy",
            "sensitive" : false
          },
          "schema-registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "schema-registry",
            "sensitive" : false
          },
          "starting-field-name" : {
            "displayName" : "Starting Field Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "starting-field-name",
            "sensitive" : false
          },
          "Time Format" : {
            "displayName" : "Time Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Format",
            "sensitive" : false
          },
          "schema-access-strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-access-strategy",
            "sensitive" : false
          },
          "schema-version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-version",
            "sensitive" : false
          },
          "schema-text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "schema-text",
            "sensitive" : false
          },
          "Allow Comments" : {
            "displayName" : "Allow Comments",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Allow Comments",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.json.JsonTreeReader"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-kafka-3-service-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-kafka-service-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "type" : "org.apache.nifi.kafka.service.api.KafkaConnectionService"
        } ],
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "db2a0bb0-fd4a-3501-ba0c-1fb1549e26e3",
        "name" : "Kafka3ConnectionService",
        "properties" : {
          "security.protocol" : "PLAINTEXT",
          "ack.wait.time" : "5 sec",
          "max.poll.records" : "10000",
          "sasl.mechanism" : "GSSAPI",
          "isolation.level" : "read_committed",
          "max.block.ms" : "5 sec",
          "bootstrap.servers" : "kafka_centrosur:9092",
          "default.api.timeout.ms" : "60 sec"
        },
        "propertyDescriptors" : {
          "ack.wait.time" : {
            "displayName" : "Acknowledgment Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "ack.wait.time",
            "sensitive" : false
          },
          "sasl.username" : {
            "displayName" : "SASL Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.username",
            "sensitive" : false
          },
          "max.poll.records" : {
            "displayName" : "Max Poll Records",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.poll.records",
            "sensitive" : false
          },
          "bootstrap.servers" : {
            "displayName" : "Bootstrap Servers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "bootstrap.servers",
            "sensitive" : false
          },
          "sasl.kerberos.service.name" : {
            "displayName" : "Kerberos Service Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.kerberos.service.name",
            "sensitive" : false
          },
          "security.protocol" : {
            "displayName" : "Security Protocol",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "security.protocol",
            "sensitive" : false
          },
          "SSL Context Service" : {
            "displayName" : "SSL Context Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "SSL Context Service",
            "sensitive" : false
          },
          "sasl.mechanism" : {
            "displayName" : "SASL Mechanism",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.mechanism",
            "sensitive" : false
          },
          "isolation.level" : {
            "displayName" : "Transaction Isolation Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "isolation.level",
            "sensitive" : false
          },
          "max.block.ms" : {
            "displayName" : "Max Metadata Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.block.ms",
            "sensitive" : false
          },
          "kerberos-user-service" : {
            "displayName" : "Kerberos User Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "kerberos-user-service",
            "sensitive" : false
          },
          "sasl.password" : {
            "displayName" : "SASL Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sasl.password",
            "sensitive" : true
          },
          "default.api.timeout.ms" : {
            "displayName" : "Client Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "default.api.timeout.ms",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.kafka.service.Kafka3ConnectionService"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-dbcp-service-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "type" : "org.apache.nifi.dbcp.DBCPService"
        } ],
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "7b4beb08-8006-3f14-89a1-8d79170a70e8",
        "name" : "DBCPConnectionPool Base Datos Prueba",
        "properties" : {
          "dbcp-min-idle-conns" : "0",
          "Max Wait Time" : "500 millis",
          "Database Driver Class Name" : "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time" : "30 mins",
          "Max Total Connections" : "8",
          "dbcp-max-conn-lifetime" : "-1",
          "Database Connection URL" : "jdbc:postgresql://postgres_centrosur:5432/base_prueba",
          "dbcp-time-between-eviction-runs" : "-1",
          "Database User" : "postgres",
          "dbcp-soft-min-evictable-idle-time" : "-1",
          "database-driver-locations" : "/opt/nifi/nifi-current/drivers/postgresql-42.7.1.jar",
          "dbcp-max-idle-conns" : "8"
        },
        "propertyDescriptors" : {
          "dbcp-min-idle-conns" : {
            "displayName" : "Minimum Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-min-idle-conns",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "Database Driver Class Name" : {
            "displayName" : "Database Driver Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Driver Class Name",
            "sensitive" : false
          },
          "dbcp-min-evictable-idle-time" : {
            "displayName" : "Minimum Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-min-evictable-idle-time",
            "sensitive" : false
          },
          "Max Total Connections" : {
            "displayName" : "Max Total Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Total Connections",
            "sensitive" : false
          },
          "dbcp-max-conn-lifetime" : {
            "displayName" : "Max Connection Lifetime",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-max-conn-lifetime",
            "sensitive" : false
          },
          "Validation-query" : {
            "displayName" : "Validation query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Validation-query",
            "sensitive" : false
          },
          "Database Connection URL" : {
            "displayName" : "Database Connection URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Connection URL",
            "sensitive" : false
          },
          "dbcp-time-between-eviction-runs" : {
            "displayName" : "Time Between Eviction Runs",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-time-between-eviction-runs",
            "sensitive" : false
          },
          "Database User" : {
            "displayName" : "Database User",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database User",
            "sensitive" : false
          },
          "kerberos-user-service" : {
            "displayName" : "Kerberos User Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "kerberos-user-service",
            "sensitive" : false
          },
          "dbcp-soft-min-evictable-idle-time" : {
            "displayName" : "Soft Minimum Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-soft-min-evictable-idle-time",
            "sensitive" : false
          },
          "database-driver-locations" : {
            "displayName" : "Database Driver Location(s)",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "database-driver-locations",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "URL", "FILE", "DIRECTORY" ]
            },
            "sensitive" : false
          },
          "dbcp-max-idle-conns" : {
            "displayName" : "Max Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbcp-max-idle-conns",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
      } ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "4a026335-d29b-3634-b12f-9e1e2cae2d5d",
        "position" : {
          "x" : 264.0,
          "y" : -40.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "b32892ef-6741-3c48-8f2b-458b1f4b66d1",
        "position" : {
          "x" : 1360.0,
          "y" : 768.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "1253bdb1-7210-3300-afb6-6225dcb2442f",
        "position" : {
          "x" : 1184.0,
          "y" : 360.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
      "inputPorts" : [ ],
      "labels" : [ {
        "componentType" : "LABEL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "height" : 160.0,
        "identifier" : "47d055e3-0195-1000-4e59-198128a7fda5",
        "label" : "Toma un flujo de datos JSON y lo divide en fragmentos más pequeños, utilizando todas las claves del JSON y representando los valores nulos como cadenas vacías.\nJsonPath Expression: $. *, selecciona todas las claves del JSON.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.",
        "position" : {
          "x" : 1408.0,
          "y" : -256.0
        },
        "style" : {
          "background-color" : "#b0d2e3",
          "font-size" : "14px"
        },
        "width" : 328.0,
        "zIndex" : 0
      }, {
        "componentType" : "LABEL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "height" : 168.0,
        "identifier" : "ca57e8d0-2617-37a4-b234-5d1d02b5a89f",
        "label" : "Inserta datos JSON en una tabla específica de una base de datos PostgreSQL\nRecord Reader: JsonTreeReader, lee datos en formato JSON.\nDatabase Type: PostgreSQL, tipo de base de datos.\nStatement Type: INSERT, tipo de declaración para insertar datos.\nDatabase Connection Pooling Service: DBCPConnectionPool Base Datos Prueba, servicio de pool de conexiones antes configurado.\nSchema Name: public, el esquema de la base de datos.\nTable Name: sube_alim_processed, el nombre de la tabla donde se insertan los datos.",
        "position" : {
          "x" : -504.0,
          "y" : 640.0
        },
        "style" : {
          "background-color" : "#adffbe",
          "font-size" : "12px"
        },
        "width" : 408.0,
        "zIndex" : 0
      }, {
        "componentType" : "LABEL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "height" : 168.0,
        "identifier" : "ff325267-bc41-3203-bd1a-f8da2edf3854",
        "label" : "Consume datos de un tema de Kafka, gestionando datos.\nControlador : Kafka3ConnectionService, para conectarse a Kafka.\nGroup ID: sube-alim-consumer-group, identifica el grupo de consumidores.\nTopic Format: names, formato para identificar los temas.\nTopics: sube-alim-data, el tema del que se consumen los datos.\nAuto Offset Reset: earliest, empieza desde el offset más antiguo si no hay un offset inicial.\nCommit Offsets: true, confirma automáticamente los desplazamientos.",
        "position" : {
          "x" : -384.0,
          "y" : -312.0
        },
        "style" : {
          "background-color" : "#b8b094",
          "font-size" : "12px"
        },
        "width" : 392.0,
        "zIndex" : 0
      }, {
        "componentType" : "LABEL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "height" : 240.0,
        "identifier" : "5f6ffb8e-40ce-3f9d-be7f-f6e9b4440793",
        "label" : "Extrae valores específicos de un flujo de datos JSON y los almacena como atributos\nDestination: flowfile-attribute, los valores extraídos se almacenan como atributos de archivo de flujo.\nReturn Type: auto-detect, detecta automáticamente el tipo de los valores extraídos.\nPath Not Found Behavior: ignore, ignora las rutas que no se encuentran.\nNull Value Representation: empty string, representa los valores nulos como cadenas vacías.\nMax String Length: 20 MB, longitud máxima de las cadenas.\nalimentador: $.alimentador, expresión JsonPath para extraer el valor de \"alimentador\".\nid_subestacion: $.id_subestacion, expresión JsonPath para extraer el valor de \"id_subestacion\".",
        "position" : {
          "x" : -472.0,
          "y" : 312.0
        },
        "style" : {
          "background-color" : "#e6d8e8",
          "font-size" : "12px"
        },
        "width" : 368.0,
        "zIndex" : 0
      } ],
      "maxConcurrentTasks" : 1,
      "name" : "Grupo Consumidor",
      "outputPorts" : [ ],
      "position" : {
        "x" : 48.0,
        "y" : -280.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "f49145ee-33e1-3fa4-81c9-2f48b85bf48e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 824.0,
          "y" : 160.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "72f9b90e-0919-3aca-bedf-2cc5f062f565",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 840.0,
          "y" : -288.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-kafka-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "3a91dca5-9c8d-3264-93a4-589f623cc61b",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ConsumeKafka",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 24.0,
          "y" : -296.0
        },
        "properties" : {
          "Topics" : "sube-alim-data",
          "Commit Offsets" : "true",
          "Key Format" : "byte-array",
          "Key Attribute Encoding" : "utf-8",
          "Topic Format" : "names",
          "Header Encoding" : "UTF-8",
          "Max Uncommitted Time" : "1 sec",
          "Kafka Connection Service" : "db2a0bb0-fd4a-3501-ba0c-1fb1549e26e3",
          "Separate By Key" : "false",
          "Processing Strategy" : "FLOW_FILE",
          "Group ID" : "sube-alim-consumer-group-1",
          "auto.offset.reset" : "earliest",
          "Output Strategy" : "USE_VALUE"
        },
        "propertyDescriptors" : {
          "Topics" : {
            "displayName" : "Topics",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Topics",
            "sensitive" : false
          },
          "Commit Offsets" : {
            "displayName" : "Commit Offsets",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Commit Offsets",
            "sensitive" : false
          },
          "Header Name Pattern" : {
            "displayName" : "Header Name Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Header Name Pattern",
            "sensitive" : false
          },
          "Key Format" : {
            "displayName" : "Key Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Key Format",
            "sensitive" : false
          },
          "Key Record Reader" : {
            "displayName" : "Key Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Key Record Reader",
            "sensitive" : false
          },
          "Message Demarcator" : {
            "displayName" : "Message Demarcator",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Demarcator",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Key Attribute Encoding" : {
            "displayName" : "Key Attribute Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Key Attribute Encoding",
            "sensitive" : false
          },
          "Topic Format" : {
            "displayName" : "Topic Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Topic Format",
            "sensitive" : false
          },
          "Header Encoding" : {
            "displayName" : "Header Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Header Encoding",
            "sensitive" : false
          },
          "Max Uncommitted Time" : {
            "displayName" : "Max Uncommitted Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Uncommitted Time",
            "sensitive" : false
          },
          "Kafka Connection Service" : {
            "displayName" : "Kafka Connection Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Kafka Connection Service",
            "sensitive" : false
          },
          "Separate By Key" : {
            "displayName" : "Separate By Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Separate By Key",
            "sensitive" : false
          },
          "Processing Strategy" : {
            "displayName" : "Processing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Processing Strategy",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Group ID" : {
            "displayName" : "Group ID",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group ID",
            "sensitive" : false
          },
          "auto.offset.reset" : {
            "displayName" : "Auto Offset Reset",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "auto.offset.reset",
            "sensitive" : false
          },
          "Output Strategy" : {
            "displayName" : "Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "1 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#cdcbb7"
        },
        "type" : "org.apache.nifi.kafka.processors.ConsumeKafka",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "6279a7a9-60ca-3743-8f42-42d1524dc5c8",
        "maxBackoffPeriod" : "10 mins",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 0.0,
          "y" : 176.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "id_subestacion" : "$.id_subestacion",
          "Max String Length" : "20 MB",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "alimentador" : "$.alimentador",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "id_subestacion" : {
            "displayName" : "id_subestacion",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "id_subestacion",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "alimentador" : {
            "displayName" : "alimentador",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "alimentador",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#fef0ff"
        },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "601ce0ed-66d0-35af-94b7-74f53541b867",
        "maxBackoffPeriod" : "10 mins",
        "name" : "SplitJson",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 816.0,
          "y" : -64.0
        },
        "properties" : {
          "Max String Length" : "20 MB",
          "Null Value Representation" : "empty string",
          "JsonPath Expression" : "$.*"
        },
        "propertyDescriptors" : {
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "JsonPath Expression" : {
            "displayName" : "JsonPath Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "JsonPath Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#bad9e3"
        },
        "type" : "org.apache.nifi.processors.standard.SplitJson",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "49f49606-9f7e-3898-b4aa-2d935b729e62",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 24.0,
          "y" : 664.0
        },
        "properties" : {
          "character-set" : "UTF-8",
          "Log FlowFile Properties" : "true",
          "Log Level" : "info",
          "attributes-to-log-regex" : ".*",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false"
        },
        "propertyDescriptors" : {
          "Log prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log prefix",
            "sensitive" : false
          },
          "character-set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "character-set",
            "sensitive" : false
          },
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "attributes-to-ignore-regex" : {
            "displayName" : "Attributes to Ignore by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-ignore-regex",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "attributes-to-log-regex" : {
            "displayName" : "Attributes to Log by Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "attributes-to-log-regex",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 4,
        "executionNode" : "ALL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "d5ad6939-6b01-3d3e-a40a-ab8aede5e8b0",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ReplaceText",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 16.0,
          "y" : 424.0
        },
        "properties" : {
          "Regular Expression" : "(?s)(^.*$)",
          "Replacement Value" : "{\"id_subestacion\": ${id_subestacion:toNumber()}, \"alimentador\": \"${alimentador}\"}",
          "Evaluation Mode" : "Line-by-Line",
          "Line-by-Line Evaluation Mode" : "All",
          "Character Set" : "UTF-8",
          "Maximum Buffer Size" : "1 MB",
          "Replacement Strategy" : "Always Replace"
        },
        "propertyDescriptors" : {
          "Regular Expression" : {
            "displayName" : "Search Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Regular Expression",
            "sensitive" : false
          },
          "Replacement Value" : {
            "displayName" : "Replacement Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Value",
            "sensitive" : false
          },
          "Evaluation Mode" : {
            "displayName" : "Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Evaluation Mode",
            "sensitive" : false
          },
          "Text to Prepend" : {
            "displayName" : "Text to Prepend",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Prepend",
            "sensitive" : false
          },
          "Line-by-Line Evaluation Mode" : {
            "displayName" : "Line-by-Line Evaluation Mode",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Line-by-Line Evaluation Mode",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Maximum Buffer Size" : {
            "displayName" : "Maximum Buffer Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Buffer Size",
            "sensitive" : false
          },
          "Replacement Strategy" : {
            "displayName" : "Replacement Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Replacement Strategy",
            "sensitive" : false
          },
          "Text to Append" : {
            "displayName" : "Text to Append",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Text to Append",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a6c2c72a-fd2a-3aa5-90fe-82ae563cbbd0",
        "identifier" : "f5b11fb1-c240-3c6b-b32d-08b7e58d79a9",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutDatabaseRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 728.0,
          "y" : 656.0
        },
        "properties" : {
          "put-db-record-allow-multiple-statements" : "false",
          "put-db-record-schema-name" : "public",
          "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
          "put-db-record-statement-type" : "INSERT",
          "put-db-record-quoted-identifiers" : "false",
          "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
          "put-db-record-max-batch-size" : "100",
          "database-session-autocommit" : "false",
          "table-schema-cache-size" : "100",
          "put-db-record-quoted-table-identifiers" : "false",
          "put-db-record-translate-field-names" : "true",
          "put-db-record-dcbp-service" : "7b4beb08-8006-3f14-89a1-8d79170a70e8",
          "put-db-record-query-timeout" : "0 seconds",
          "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
          "rollback-on-failure" : "false",
          "put-db-record-binary-format" : "UTF-8",
          "db-type" : "PostgreSQL",
          "put-db-record-table-name" : "sube_alim_processed",
          "put-db-record-record-reader" : "b2200125-c1e1-32ce-b152-14ba9efb25d0"
        },
        "propertyDescriptors" : {
          "put-db-record-allow-multiple-statements" : {
            "displayName" : "Allow Multiple SQL Statements",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-allow-multiple-statements",
            "sensitive" : false
          },
          "put-db-record-schema-name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-schema-name",
            "sensitive" : false
          },
          "put-db-record-field-containing-sql" : {
            "displayName" : "Field Containing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-field-containing-sql",
            "sensitive" : false
          },
          "put-db-record-unmatched-column-behavior" : {
            "displayName" : "Unmatched Column Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-unmatched-column-behavior",
            "sensitive" : false
          },
          "Delete Keys" : {
            "displayName" : "Delete Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Keys",
            "sensitive" : false
          },
          "put-db-record-catalog-name" : {
            "displayName" : "Catalog Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-catalog-name",
            "sensitive" : false
          },
          "put-db-record-statement-type" : {
            "displayName" : "Statement Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-statement-type",
            "sensitive" : false
          },
          "put-db-record-update-keys" : {
            "displayName" : "Update Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-update-keys",
            "sensitive" : false
          },
          "put-db-record-quoted-identifiers" : {
            "displayName" : "Quote Column Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-quoted-identifiers",
            "sensitive" : false
          },
          "put-db-record-unmatched-field-behavior" : {
            "displayName" : "Unmatched Field Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-unmatched-field-behavior",
            "sensitive" : false
          },
          "put-db-record-max-batch-size" : {
            "displayName" : "Maximum Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-max-batch-size",
            "sensitive" : false
          },
          "Database Dialect Service" : {
            "displayName" : "Database Dialect Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Dialect Service",
            "sensitive" : false
          },
          "Data Record Path" : {
            "displayName" : "Data Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Record Path",
            "sensitive" : false
          },
          "database-session-autocommit" : {
            "displayName" : "Database Session AutoCommit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "database-session-autocommit",
            "sensitive" : false
          },
          "table-schema-cache-size" : {
            "displayName" : "Table Schema Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "table-schema-cache-size",
            "sensitive" : false
          },
          "put-db-record-quoted-table-identifiers" : {
            "displayName" : "Quote Table Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-quoted-table-identifiers",
            "sensitive" : false
          },
          "Statement Type Record Path" : {
            "displayName" : "Statement Type Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Statement Type Record Path",
            "sensitive" : false
          },
          "Column Name Translation Pattern" : {
            "displayName" : "Column Name Translation Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Translation Pattern",
            "sensitive" : false
          },
          "put-db-record-translate-field-names" : {
            "displayName" : "Translate Field Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-translate-field-names",
            "sensitive" : false
          },
          "put-db-record-dcbp-service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "put-db-record-dcbp-service",
            "sensitive" : false
          },
          "put-db-record-query-timeout" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-query-timeout",
            "sensitive" : false
          },
          "Column Name Translation Strategy" : {
            "displayName" : "Column Name Translation Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Translation Strategy",
            "sensitive" : false
          },
          "rollback-on-failure" : {
            "displayName" : "Rollback On Failure",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "rollback-on-failure",
            "sensitive" : false
          },
          "put-db-record-binary-format" : {
            "displayName" : "Binary String Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-binary-format",
            "sensitive" : false
          },
          "db-type" : {
            "displayName" : "Database Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "db-type",
            "sensitive" : false
          },
          "put-db-record-table-name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "put-db-record-table-name",
            "sensitive" : false
          },
          "put-db-record-record-reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "put-db-record-record-reader",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : {
          "background-color" : "#c3ffc2"
        },
        "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "Comunicacion-de-todos-los-servicios-Nifi-Kakfa-tabla-subealim",
    "timestamp" : 0
  }
}